@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.index-table-card-container{
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize3;
  width: 100%;
  
  .index-table-card {
    @include flex-column(nowrap, flex-start, flex-start);
    border: 1px solid #f6f6f6;
    padding: $XsSize;
    border-radius: $XlSize;
    width: 100%;
    .card-header-container {
      @include flex-column(nowrap, flex-end, flex-end);
      padding-bottom: $XsSize;
      border-bottom: 2px dashed #e1e4ed;
      width: 100%;
      .header-container {
        @include flex-row(nowrap, space-between, center);
        width: 100%;
        gap: $XsSize4;
        font-family: 'Regular';
  
        .card-content {
          @include flex-column(nowrap, flex-start, flex-start);
          gap: $XsSize4;
  
          .card-header {
            @include flex-row(nowrap, flex-start, center);
            gap: $XlSize4;
          }
  
          .card-details {
            @include flex-column(nowrap, flex-start, flex-start);
            gap: $XsSize4;
  
            .title {
              color: #0f1927;
              font-size: $MdSize;
              font-weight: $BaseFontSemiBoldWeight;
              span {
                font-family: 'Light';
                color: #c7c7cc;
                font-size: $SmSize;
                font-weight: $BaseFontMediumWeight;
              }
            }
            .subtitle {
              color: #9ca3af;
              font-size: $SmSize;
              font-weight: $BaseFontMediumWeight;
            }
            .project-details {
              @include flex-row(nowrap, flex-start, center);
              gap: $XlSize4;
            }
          }
        }
  
        .card-info {
          @include flex-column(nowrap, flex-start, flex-start);
          gap: 6px;
          .title {
            color: $PrimaryColor;
            font-size: $SmSize;
            font-weight: $BaseFontWeightBold;
          }
          img {
            object-fit: cover;
            width: 100%;
            height: 70px;
            border-radius: 12px;
          }
        }
      }
      .show-more {
        @include flex-row(nowrap, center, center);
        gap: 4px;
        cursor: pointer;
        span {
          color: #9ca3af;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
        }
      }
    }
  
    .card-description {
      padding-top: $XsSize2;
      @include flex-column(nowrap, flex-start, flex-start);
      // gap: $MdSize;
      .title {
        color: #000000;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
      .description {
        color: #8e8e93;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
      }
    }
  }
}

.label-item-primary {
  color: #aeaeb2;
  font-size: $SmSize;
  font-weight: $BaseFontMediumWeight;
  span {
    color: $PrimaryColor;
  }
}
.label-item-secondary {
  color: #aeaeb2;
  font-size: $SmSize;
  font-weight: $BaseFontMediumWeight;
  span {
    color: #000000;
  }
}
