@import '../../variables';
@import '../../mixins/flex';

.p-dialog {
  font-family: 'Regular';
  .add-equipment-header {
    width: 100%;
  }
  .p-dialog-content {
    height: 100% !important;
  }

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    opacity: 0.5;
  }

  .equipment-dialog-data {
    .add-equipment-hr {
      width: 100%;
      border: none;
      background-color: #f1f3f5;
      height: 1px;
    }
  }
}
