@import '../../variables';
@import '../../mixins/flex';

.equipment-form {
  font-family: 'Regular';
  margin-top: $XsSize;
  .select-container {
    @include flex-row(nowrap, flex-start, center);
    gap: $XlSize;
    .select-item {
      padding: $XsSize calc($XlSize2 + 4px);
      border-radius: $XlSize;
      background-color: #fafbfc;
      position: relative;
      border-radius: $XlSize;
      overflow: hidden;
      .left-back-img {
        position: absolute;
        left: -200px;
        transition: 0.3s all linear;
        @include flex-center();
      }
      .right-back-img {
        position: absolute;
        right: -200px;
        transition: 0.3s all linear;
        @include flex-center();
      }
      &.active {
        .left-back-img {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          opacity: 0.3;
          .left-yellow {
            top: -20px;
            position: relative;
          }
        }
        .right-back-img {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          rotate: 180deg;
          opacity: 0.3;
          .right-yellow {
            top: -20px;
            position: relative;
          }
        }
        .item {
          color: $PrimaryColor;
        }
      }
      input {
        display: none;
      }
      .item {
        @include flex-row(nowrap, flex-start, center);
        gap: $XsSize;
        color: #9ca3af;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        transition: 0.3s all linear;
        cursor: pointer;
      }
    }
  }
  .input-container {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XlSize;
    width: 100%;
    padding-inline: 20px;
    margin-top: 20px;
    .input-wrapper {
      width: 100%;
    }
  }
  .submit-btn {
    width: 100%;
    margin-top: $XlSize;
    button {
      padding: $MdSize;
      width: 100%;
      color: white;
      background-color: $PrimaryColor;
    }
  }
  .radio-wrapper {
    @include flex-row(nowrap, center, center);
    gap: 10px;
    width: 50%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all linear;
    border: 1px solid #f1f3f5b2;
    color: #04195393;
    padding: 22px;
    border: 1px solid #D9D9E8;

    &.active {
      // background-color: #0419531a;
      color: $PrimaryColor;
      background: radial-gradient(white 40% , #cce1f544 );
    }
    label {
      width: 100%;
      text-align: center;
    }
    input {
      width: 100%;
      display: none;
    }
  }
}
