@use "../../../variables" as *;
@use "../../../mixins/flex" as *;

.card-price-details {
  padding: $XlSize $XlSize $XlSize;
  border-radius: $XlSize;

  .card-price-details-container {
    background-color: $BgWhite;
    border-radius: $XlSize;
    padding: $XlSize;
    @include flex-column();

    p {
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      color: $SecondaryColor;
      margin-bottom: $SmSize;
    }

    .item {
      @include flex(row, wrap, space-between, center);
      gap: $XsSize2;
      color: $TextGray2;
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      margin-top: $XsSize2;
      padding-bottom: $SmSize;
    }

    .total {
      border-top: 2px dashed $TextGray6;
      padding-top: $MdSize;

      @include flex(row, wrap, space-between, baseline);
      gap: $XsSize2;

      .total-title {
        color: #3d4c5e;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
      }

      .tota-subtitle {
        @include flex-column();
        color: $TextGray2;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;

        .price {
          margin-bottom: 0;
          text-align: end;
          color: $SecondaryColor;
          font-size: $XlSize2;
          font-weight: $BaseFontSemiBoldWeight;
        }
      }
    }
  }
}
