@use '../../variables' as *;
@use '../../mixins/flex' as *;
@use '../../mixins/grid' as *;

.show-equipment {
  .inspection-btn {
    @include flex(row, nowrap, center, center);
    gap: $XsSize2;
    width: 100%;
    margin-block: 12px;
    button {
      width: 50%;
      padding: $XsSize calc($XlSize3 + 2px);
      border-radius: $SmSize;
      position: relative;
      border-radius: $SmSize;
      background-color: #fafbfc;
      overflow: hidden;
      &.active {
        color: $PrimaryColor;
      }
      .down-bg {
        position: absolute;
        right: 0;
        bottom: 0;
      }
      .top-bg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .history-qr {
    .history-log {
      .history-card {
        // border: 1px solid $Gray-4;
        border-radius: $SmSize;
        padding: $MdSize;
        position: relative;
        overflow: hidden;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: -2rem;
          width: 70px;
          height: 20px;
          background: linear-gradient(
            180deg,
            rgba(16, 146, 207, 0.8) -9.32%,
            rgba(199, 201, 214, 0.8) 68.63%
          );
          z-index: 1;
          filter: blur(30px);
          opacity: 1;
        }

        .card-header {
          @include flex(row, nowrap, flex-start, flex-start);
          gap: $XsSize2;
          width: 100%;

          svg {
            margin-top: 0.5rem;
          }

          @media screen and (max-width: 1200px) {
            @include flex(column, nowrap, flex-start, flex-start);
          }

          .user {
            width: 30%;
            @media screen and (max-width: 1200px) {
              width: 100%;
            }
            @include flex(row, nowrap, flex-start, flex-start);
            gap: $XsSize2;

            img {
              width: 40px;
              height: 40px;
            }

            .name {
              @include flex(column, nowrap, flex-start, flex-start);
            }
          }

          .history-card-title {
            width: 70%;
            @include flex(column, nowrap, flex-start, flex-start);
            gap: $XsSize4;

            @media screen and (max-width: 1200px) {
              width: 100%;
            }

            .title {
              @include flex(column, nowrap, flex-start, flex-start);
              width: 100%;
              gap: 0;
              border-bottom: none;
              .status {
                @include flex(row, nowrap, flex-start, center);
                gap: $XsSize4;
                svg {
                  margin: 0;
                }
                .status-title {
                  color: $PrimaryColor;
                  font-size: $SmSize;
                  font-weight: $BaseFontSemiBoldWeight;
                }
              }
            }

            .date-title {
              @include flex(row, nowrap, flex-start, center);
              gap: $XsSize2;

              h5 {
                font-size: $XlSize;
                font-weight: $BaseFontWeightBold;
              }

              span {
                font-size: $SmSize;
                color: $Gray-3;
              }
            }

            .items {
              @include flex(row, wrap, flex-start, flex-start);
              gap: $XlSize;

              .item {
                @include flex(row, wrap, flex-start, flex-start);
                gap: $XsSize4;

                span {
                  color: $red-opacity;
                  font-weight: $BaseFontWeight;
                }

                p {
                  color: var(--Red);
                  font-weight: $BaseFontWeightBold;
                }
              }
            }

            .notes {
              @include flex(row, nowrap, flex-start, flex-start);
              gap: $XsSize2;
              width: 100%;

              span {
                color: $SubtitleColor;
              }

              p {
                color: #4b5563;
                font-weight: $BaseFontWeightBold;
                font-size: $SmSize;
              }
              @media screen and (max-width: 900px) {
                width: 100%;
                gap: $XsSize;

                @include flex(column, nowrap, flex-start, flex-start);
              }
            }

            .buttons {
              width: 100%;
              @include flex(row, nowrap, center, center);
              margin-top: $XsSize2;
              gap: $SmSize;

              @media screen and (max-width: 910px) {
                @include flex(row, wrap, center, center);
              }

              .assign {
                border: 0.5px solid $primary-dark;
                border-radius: 50px;
                padding: $XsSize $MdSize;
                color: $PrimaryColor;
                background-color: #1d4ed81a;
                width: 100%;
                font-weight: $BaseFontWeightBold;
              }

              .done {
                border: 0.5px solid $greenDone;
                border-radius: $XlSize4;
                padding: $XsSize $MdSize;
                color: #4caf50;
                background-color: $greenDone;
                width: 100%;
                font-weight: $BaseFontWeightBold;
              }

              .delay {
                border: 0.5px solid $DelayColor;
                border-radius: $XlSize4;
                padding: $XsSize $MdSize;
                color: #ffbf52;
                background-color: $DelayColor;
                width: 100%;
                font-weight: $BaseFontWeightBold;
              }

              .inspection-details {
                border: 0.5px solid #04195380;
                border-radius: $XlSize4;
                padding: $XsSize $MdSize;
                font-weight: $BaseFontWeightBold;
                color: var(--header-page-color);
                background-color: #0419531a;
                width: 100%;
              }
            }
          }
        }
      }
      .inspection-history-container {
        width: 100%;
        @include flex-column(nowrap, flex-start, flex-start);
        gap: $XsSize;
        .inspection-history {
          padding: $XsSize2 $MdSize;
          width: 100%;
          position: relative;
          overflow: hidden;
          border-radius: $XsSize;
          @include flex-column(nowrap, flex-start, flex-start);
          gap: 5px;
          .bg {
            position: absolute;
            top: 0;
            left: 0;
          }
          .inspection-header {
            @include flex-row(nowrap, flex-start, flex-start);
            gap: $XsSize;
            width: 100%;

            .warn {
              rotate: -20deg;
              // height: 100%;
            }
            .inspection-header-content {
              @include flex-column(nowrap, flex-start, flex-start);
              gap: 0px;
              width: 100%;
              .title-container {
                width: 100%;
                @include flex-row(nowrap, flex-start, center);
                gap: $XsSize4;
                .title {
                  color: #121212;
                  font-size: $MdSize2;
                  font-weight: $BaseFontWeightBold;
                  border: none;
                }
                .date {
                  color: #6b7280;
                  font-size: $XsSize;
                  font-weight: $BaseFontMediumWeight;
                }
              }
              .inspection-type {
                border-bottom: 1px dashed #6b728048;
                padding-bottom: $XsSize4;
                width: 100%;

                p {
                  color: #1f41bb;
                  font-size: $SmSize;
                  font-weight: $BaseFontSemiBoldWeight;
                  span {
                    color: #6b7280;
                    font-size: $SmSize;
                    font-weight: $BaseFontMediumWeight;
                    font-family: 'Light';
                  }
                }
              }
              .view-inspection-container {
                padding-top: $XsSize3;
                @include flex-row(nowrap, flex-start, center);
                gap: 3px;
                width: 100%;

                .view-inspection {
                  color: #041953;
                  font-size: $MdSize;
                  font-weight: $BaseFontSemiBoldWeight;
                }
              }
            }
          }
        }
      }
    }
  }
}
