@use '../../variables' as *;
@use '../../mixins/flex' as *;
@use '../../mixins/grid' as *;

.show-equipment {
  .history-qr {
    @include flex(row, nowrap, flex-start, flex-start);
    gap: $MdSize;
    width: 100%;
    @media screen and (max-width: 900px) {
      @include flex(row, wrap, flex-start, flex-start);
    }
    .qr-code-card {
      @include flex(column, nowrap, center, center);
      width: 30%;
      height: 218px;
      background-color: #f1f3f5;
      padding: $XsSize $MdSize;
      border-radius: $SmSize;
      @media screen and (max-width: 900px) {
        width: 100%;
      }

      .head {
        @include flex(row, nowrap, space-between, center);
        width: 100%;
        .title {
          @include flex(row, nowrap, flex-start, center);
          gap: $XsSize3;
          span {
            font-size: $MdSize;
            font-weight: $BaseFontWeightBold;
            color: var(--header-page-color);
          }
        }

        .print {
          color: $PrimaryColor;
          font-weight: $BaseFontWeightBold;
          text-decoration: underline;
        }
      }

      .qr-code {
        margin-top: $SmSize;
        width: 145px;
        height: 145px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
