@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.objectives {
  @include grid(
    3,
    $XlSize,
    (
      1440px: 3,
      1000px: 3,
      768px: 2,
    )
  );
  width: 100%;
  font-family: 'Regular';
  padding-inline: calc($XlSize3 + 2px);
  // column-gap: $XlSize;

  .object {
    width: 100%;
    color: $PrimaryColor;
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $MdSize;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $PrimaryColor;
    }
  }
}
