@use '../mixins/grid' as *;
@use '../mixins/flex' as *;
@use '../variables' as *;

.tickets-cards-grid-system {
  margin-block: $MdSize;
  display: none;
  @include grid(
    2,
    10px,
    (
      2560px: 3,
      1440px: 2,
      1024px: 2,
      768px: 1,
    )
  );
  .tickets-card {
    @include flex-column();
    gap: $SmSize;
    padding-bottom: $SmSize;
    border-radius: $XlSize2;
    // background: #FCFCFC66;
    background: #fcfcfc99;
    border: 2px solid #fbfbfb;
    width: 100%;

    transition: all 0.5s ease-in-out;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-5px);
    }

    .card-header {
      @include flex(row, nowrap, center, center);
      background-image: linear-gradient(90deg, #fef9f3 0%, #ffffff29 50%, #eeffee 100%);
      padding: $XsSize2 $XsSize;
      text-transform: capitalize;
      border-top-left-radius: $XlSize2;
      border-top-right-radius: $XlSize2;
      button {
        all: unset;
        color: red;
        text-decoration: underline;
        cursor: pointer;
      }
      h6 {
        font-family: 'Bold';
      }

      // Status-based gradient colors
      &[data-status='solved'] {
        color: #34c759;
        background: linear-gradient(90.5deg, #34c7590d -3.82%, #34c75921 52.88%, #eeffee49 98.9%);
      }

      &[data-status='pending'] {
        color: #ffcc00;
        background: linear-gradient(90.5deg, #fef9f3 -3.82%, #ffcc000d 52.88%, #ffcc000d 98.9%);
      }

      &[data-status='resolved'] {
        color: #ef3826;
        background-image: linear-gradient(
          90deg,
          #fef9f3 0%,
          #ffffff29 50%,
          rgba(239, 56, 38, 0.2) 100%
        );
      }

      &[data-status='open'] {
        color: #6155f5;
        background: linear-gradient(90.5deg, #6e67b92b -3.82%, #6255f520 98.9%);
      }

      &[data-status='closed'] {
        color: #212a43;
        background-image: linear-gradient(
          90deg,
          #fef9f3 0%,
          #ffffff29 50%,
          rgba(33, 42, 67, 0.2) 100%
        );
      }

      .code {
        color: red;
        font-size: $MdSize;
        font-family: 'Regular';
      }
    }
    .card-info {
      @include flex(row, nowrap, space-between, center);
      gap: 12px;
      padding: 0 16px;
      border-bottom: 1px solid transparent;
      border-image: repeating-linear-gradient(
          to right,
          #e9ebf4 0,
          #e9ebf4 5px,
          transparent 10px,
          transparent 20px
        )
        1;

      .card-info-txt {
        @include flex(column, wrap, start, start);
        gap: $XsSize;

        p {
          font-size: 16px;
          font-family: 'Bold';
          color: #1f41bb;
          span {
            font-size: 12px;
            font-family: 'Regular';
          }
        }

        h2 {
          color: #1d242d;
          font-size: $XlSize;
          font-family: 'Bold';
          text-wrap: inherit;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: calc(var(--line-height) * 3em);
          line-height: var(--line-height);
          --line-height: 1.5;
        }
      }
      div.imgs {
        @include flex(row, nowrap, center, center);
        position: relative;
        height: calc($XlSize3 + 10px);
        z-index: 10;
        img {
          width: calc($XlSize3 + 15px);
          height: calc($XlSize3 + 15px);
          border-radius: $XsSize2;
          object-fit: cover;
          border: 2px solid #99999959;
          background-color: white;

          position: relative;
          margin-left: -10px;
          transition: transform 0.6s;
          &:hover {
            transform: scale(1.1);
            z-index: 10;
          }
          img:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .card-footer {
      @include flex(row, nowrap, start, center);
      padding: $XsSize2 $XsSize;

      .description {
        @include flex(row, nowrap, start, center);
        gap: $XsSize4;
        text-transform: capitalize;

        p {
          color: #909dad;
          font-family: 'Regular';
          font-weight: 500;
          font-size: $MdSize;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: calc(var(--line-height) * 2em);
          line-height: var(--line-height);
          --line-height: 1.5;
        }
      }
    }
  }
}
