@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.expired-certificate {
  @include flex-column(nowrap, center, center);
  gap: $XsSize4;
  width: 100%;
  padding: $XsSize3;
  background: var(--brand-accent-50);
  border: 1px solid color-mix(in srgb, var(--surface-2) 20%, transparent);
  border-radius: $XsSize2;
  .expired {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize4;
    .expired-title {
      color: var(--brand-accent-300);
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      text-align: center;
      font-family: 'Bold';
    }
  }
  .invalid-date {
    color: var(--text-strong);
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    // text-decoration: underline;
    text-align: center;
    width: 100%;
  }
  .not-required-date {
    color: var(--text-strong);
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    text-align: center;
    width: 100%;
  }
  .expired-date {
    color: var(--text-strong);
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    // text-decoration: underline;
    text-align: center;
  }
  .expired-certificate {
    @include flex-row(nowrap, center, center);
    gap: $XsSize4;
    font-size: $MdSize;
    font-weight: $BaseFontMediumWeight;
    text-align: center;
    color: var(--text-strong);
    background: color-mix(in srgb, var(--brand-accent-400) 6.67%, transparent);
    border: none;
    background: transparent;
    padding: 0;
    &.renew {
      text-decoration: underline;
    }
  }
}
