@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.employee-certificates-matrix {
  .main-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      display: table-row !important;
    }
    td {
      display: table-cell !important;
      vertical-align: middle !important;
      text-align: left;
      padding: 12px;

      &:last-of-type {
        vertical-align: middle !important;
        text-align: center;
      }
    }
  }
  .table-row {
    transition: 0.3s all linear;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  tbody:hover .table-row:not(:hover) {
    filter: blur(2px);
  }
  .employee-info-container {
    @include flex-row(nowrap, flex-start, flex-start);
    gap: 20px;
    width: fit-content;
    .employee-info {
      @include flex-row(nowrap, flex-start, flex-start);
      font-family: 'Regular';
      gap: 30px;
      background-color: #fcfcfc;
      padding: 5px;
      border-radius: 12px;
      width: fit-content;
      .name {
        color: #202020;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
        width: 150px;
      }
      .employee-description {
        text-align: start;
        color: $PrimaryColor;
        max-width: 200px;
        overflow: auto;
      }
    }
    .employee-static {
      @include flex-column(nowrap, flex-start, flex-start);
      font-family: 'Regular';
      .valid-counter {
        color: #6cb765;
        position: relative;
        padding-left: 10px;
        font-size: $XsSize;
        font-weight: $BaseFontSemiBoldWeight;
        @include flex-row(nowrap, flex-start, flex-start);
        gap: 3px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          width: 6px;
          height: 6px;
          background-color: #6cb765;
          border-radius: 50%;
        }
      }
      .invalid-counter {
        color: #ff5b5b;
        position: relative;
        padding-left: 3px;
        font-size: $XsSize;
        font-weight: $BaseFontSemiBoldWeight;
        @include flex-row(nowrap, flex-start, flex-start);
        gap: 3px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          width: 6px;
          height: 6px;
          background-color: #ff5b5b;
          border-radius: 50%;
        }
      }
      .expired-counter {
        color: #ffc456;
        position: relative;
        padding-left: 3px;
        font-size: $XsSize;
        font-weight: $BaseFontSemiBoldWeight;
        @include flex-row(nowrap, flex-start, flex-start);
        gap: 3px;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -5px;
          width: 6px;
          height: 6px;
          background-color: #ffc456;
          border-radius: 50%;
        }
      }
    }
  }
  .not-required {
    font-family: 'Light';
    color: #adadad;
    font-size: $XsSize;
    font-weight: $BaseFontSemiBoldWeight;
    height: 100%;
    @include flex-row(nowrap, center, center);
    gap: 4px;

    .not-required-left {
      position: relative;
      display: block;
      width: 5px;
      height: 5px;
      background-color: #adadad;
      border-radius: 50%;
      margin-top: 3px;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -4px;
        width: 8px;
        height: 1px;
        background-color: #adadad;
      }
    }
    .not-required-right {
      margin-top: 3px;

      width: 5px;
      height: 5px;
      background-color: #adadad;
      border-radius: 50%;
      position: relative;
      display: block;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -4px;
        width: 8px;
        height: 1px;
        background-color: #adadad;
      }
    }
  }
  .certificate-not-required {
    height: 100%;
  }

  td {
    height: 100%;
    text-align: center;
    &:last-of-type {
      vertical-align: bottom !important;
    }
  }
}
