@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.employee-certificates-matrix {
  .employee-info {
    @include flex-column(nowrap, flex-start, flex-start);

    .employee-description {
      text-align: center;
    }
  }
  .not-required {
    font-family: 'Light';
    color: #adadad;
    font-size: $XsSize;
    font-weight: $BaseFontSemiBoldWeight;
    height: 100%;
  }
  .certificate-not-required {
    height: 100%;
  }

  td {
    &:last-of-type {
      @include flex-row(nowrap, center, center);
      margin-top: $XlSize;
    }
  }
}
