@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.invalid-certificate {
  @include flex(column, nowrap, center, center);
  gap: $XsSize4;
  width: 100%;
  background-color: #fffdfd;
  padding: $XsSize3;
  &.invalid-certificate-container {
    @include flex-column(nowrap, center, center);
    gap: $XsSize4;
    width: 100%;
    background: #FFFDFD;
    border: 1px solid #F2F2F233;
    border-radius: $XsSize2;
  }
  .invalid {
    @include flex-center();
    gap: $XsSize4;
    .invalid-title {
      color: #f65a5a;
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      font-family: 'Bold';
    }
  }
  .invalid-date {
    color: #2f2d2d;
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    text-decoration: underline;
  }
  .certificate-dialog {
    hr {
      border-color: #f1f3f5;
    }
    .dialog-content {
      margin-top: $XsSize2;
    }
  }
}
