@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.invalid-certificate {
  @include flex(column, nowrap, center, center);
  gap: $XsSize4;
  width: 100%;
  background-color: var(--status-danger-soft);
  padding: $XsSize3;
  // max-width: 150px;

  &.invalid-certificate-container {
    @include flex-column(nowrap, center, center);
    gap: $XsSize4;
    width: 100%;
    background: var(--status-danger-soft);
    border: 1px solid color-mix(in srgb, var(--surface-2) 20%, transparent);
    border-radius: $XsSize2;
  }
  .invalid {
    @include flex-center();
    gap: $XsSize4;
    .invalid-title {
      color: var(--status-danger);
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      font-family: 'Bold';
    }
  }
  .invalid-date {
    color: var(--text-strong);
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    text-decoration: underline;
  }
  .certificate-dialog {
    hr {
      border-color: var(--brand-primary-50);
    }
    .dialog-content {
      margin-top: $XsSize2;
    }
  }
}
