@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.invalid-certificate {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  width: fit-content;
  border-radius: $XlSize;
  padding: $XsSize;

  &.not-required-container {
    background: #fcfcfc;
    border: 1px solid #dadcdf1a;
    padding: $XsSize3;
    border-radius: $XsSize2;
    @include flex-row(nowrap, space-between, center);
    gap: $XsSize4;
    padding: $XsSize;
  }
  .invalid {
    @include flex-row(nowrap, flex-start, flex-start);
    gap: $XsSize4;
    .invalid-title {
      color: #f65a5a;
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      margin-left: auto;
    }
    .not-req-span {
      color: #161716bf;
      font-size: $MdSize;
      font-family: 'Bold';
    }
  }
  .invalid-date {
    color: #2f2d2d;
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    text-decoration: underline;
    text-align: center;
    width: 100%;
  }
  .certificate-dialog {
    hr {
      border-color: #f1f3f5;
    }
    .dialog-content {
      margin-top: $XsSize2;
    }
  }
}
