@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.invalid-certificate {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  width: fit-content;
  border-radius: $XlSize;
  padding: $XsSize;

  &.not-required-container {
    background: var(--surface-1);
    border: 1px solid color-mix(in srgb, var(--surface-2) 10.2%, transparent);
    padding: $XsSize3;
    border-radius: $XsSize2;
    @include flex-row(nowrap, space-between, center);
    gap: $XsSize4;
    padding: $XsSize;
  }
  .invalid {
    @include flex-row(nowrap, flex-start, flex-start);
    gap: $XsSize4;
    .invalid-title {
      color: var(--status-danger);
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      margin-left: auto;
    }
    .not-req-span {
      color: color-mix(in srgb, var(--text-strong) 74.9%, transparent);
      font-size: $MdSize;
      font-family: 'Bold';
    }
  }
  .invalid-date {
    color: var(--text-strong);
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    text-decoration: underline;
    text-align: center;
    width: 100%;
  }
  .certificate-dialog {
    hr {
      border-color: var(--brand-primary-50);
    }
    .dialog-content {
      margin-top: $XsSize2;
    }
  }
}
