@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.valid-certificate {
  @include flex-column(nowrap, center, center);
  gap: $XsSize4;
  width: 100%;
  padding: $XsSize3;
  background: var(--status-success-soft);
  border: 1px solid color-mix(in srgb, var(--status-success) 10.2%, transparent);
  border-radius: $XsSize2;
  // max-width: 150px;
  .valid {
    @include flex-center();
    gap: $XsSize4;
    .valid-title {
      color: var(--status-success);
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      text-align: center;
      font-family: 'Bold';
    }
  }
  .valid-date {
    color: var(--text-soft);
    font-size: $XsSize;
    font-weight: $BaseFontMediumWeight;
    text-align: center;
  }
  .valid {
    @include flex-center();
    gap: $XsSize4;
    .not-required-date {
      color: var(--text-strong);
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;

      text-align: center;
      width: 100%;
    }
  }
}
