@import './objectives/main_objectives';
@import './objectives/objective_details';
@import './sectionHeader/sections_header';
@import './sectionHeader/header_page';
@import './sectionHeader/breadcrumbs';
@import './projectSite/project_site_section';
@import './projectSite/location_card';
@import './LocationsTeams/location_teams_section';
@import './LocationsTeams/locations_sections';
@import './LocationsTeams/team_card';
@import './LocationsTeams/members_card';
@import './LocationsTeams/empty_teams';
@import './EquipmentSection/equipment_section';
@import './EquipmentSection/equipment_card';
@import './EquipmentSection/tool_card';
@import './project_details_section';
@import './hierarchy/index';
@import './employee/index';
@import './inspection/inspection';
