@use '../variables' as *;
@use '../mixins/flex' as *;

.project-details-section {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize3;
  width: 100%;
  .p-accordion {
    width: 100%;
  }
}
