@use '../variables' as *;
@use '../mixins/flex' as *;
.btn-cancel {
  font-family: 'Regular';
  background-color: color-mix(in srgb, var(--status-danger) 10.2%, transparent);
  color: var(--status-danger);
  padding: $XsSize2 $MdSize;
  font-size: $MdSize;
  font-weight: $BaseFontWeightBold;
  border-radius: calc($XlSize3 + 16px);
  transition: all 0.3s linear;

  &:hover {
    color: var(--text-on-brand);
    background-color: var(--status-danger);
    border: 1px solid var(--status-danger);
  }
}
