@use '../variables' as *;
@use '../mixins/flex' as *;
.add-btn {
  font-family: 'Light';

  background-color: var(--brand-primary-800);
  color: var(--text-on-brand);
  padding-inline: calc($XlSize + 2px);
  padding-block: $XsSize3;
  font-size: $SmSize;
  font-weight: $BaseFontSemiBoldWeight;
  border-radius: calc($XlSize3 + 16px);
  transition: all 0.3s linear;

  &:hover {
    color: var(--brand-primary-800);
    background-color: var(--text-on-brand);
    border: 1px solid var(--brand-primary-800);
  }
}
