@import '../variables';
@import '../mixins/flex';
.btn-cancel {
  font-family: 'Regular';
  background-color: #e235351a;
  color: #e23535;
  padding: $XsSize2 $MdSize;
  font-size: $MdSize;
  font-weight: $BaseFontWeightBold;
  border-radius: calc($XlSize3 + 16px);
  transition: all 0.3s linear;

  &:hover {
    color: white;
    background-color: #e23535;
    border: 1px solid red;
  }
}
