@use "../mixins/flex" as *;
@use "../variables" as *;

.btn {
  @include flex-center(row, nowrap);
  padding: $XsSize $XlSize;
  font-size: $SmSize;
  font-weight: $BaseFontWeightBold;
  transition: $Transition;
  border: none;
  width: fit-content;
  cursor: pointer;
  gap: $XsSize;
  &.w-full {
    width: 100%;
  }
  border-radius: clamp(
    calc(50 * 0.8px),
    calc(50 * 100vw / var(--base-width)),
    calc(50 * 1.2px)
  );
}
