@use "../variables" as *;
@use "../mixins/border" as *;

.btn-danger {
  background-color: $BgWhite;
  color: $BgRed;
  //border-color: $BgRed;

  @include border($BaseBorderWidth, $BgRed, solid, clamp(
          calc(50 * 0.8px),
          calc(50 * 100vw / var(--base-width)),
          calc(50 * 1.2px)
  ));

  &:hover {
    background-color: $BgRed;
    color: $BgWhite;
  }
}
