// @import '../variables';
// @import '../mixins/flex';

// .delete-dialog {
//   .delete-content {
//     color: red;
//   }

//   .btn-container {
//     @include flex-row(nowrap, center, center);
//     width: 100%;
//     button {
//       width: 50%;
//     }
//   }
// }
