@import '../variables';
@import '../mixins/flex';
.popover-button {
  @include flex-row(nowrap, center, center);
  gap: 6px;
  cursor: pointer;
}
.popover-content {
  @include flex-column(nowrap, flex-start, flex-start);
  // gap: 10px;
  border-radius: 12px;
  font-family: 'Regular';

  .img-container {
    width: 100%;
    @include flex-row(nowrap, flex-start, center);
    &:hover {
      img{
        background-color: white;
        color: $PrimaryColor;
      }
    }
  }
  p {
    // border-radius: 12px;
    cursor: pointer;
    padding: $XsSize2;
    width: 100%;
    background: #1d4ed812;
    color: $PrimaryColor;
    font-size: $MdSize;
    font-weight: $BaseFontWeightBold;
    transition: 0.2s all linear;

    &:hover {
      background-color: white;
      color: $PrimaryColor;
    }
  }

  img {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: #1d4ed812;
    color: $PrimaryColor;
    font-size: $MdSize;
    font-weight: $BaseFontWeightBold;
    transition: 0.2s all linear;
    width: 40px;
    height: 42px;
  }
}
