@use '../variables' as *;

.btn-primary {
  background-color: $PrimaryColor;
  color: var(--text-on-brand);
  border-color: $PrimaryColor;
  font-family: 'Regular';
  font-size: $XsSize;
  text-align: center;
  &:hover {
    background-color: transparent;
    color: $PrimaryColor;
  }
}
