@use "../variables" as *;

.btn-primary {
  background-color: $PrimaryColor;
  color: $White;
  border-color: $PrimaryColor;
  font-family: "Regular";
  font-size: $XsSize;
  &:hover {
    background-color: transparent;
    color: $PrimaryColor;
  }
}
