@use '../variables' as *;

.btn-secondary {
  // background-color: color-mix(in srgb, var(--brand-primary-500) 5.88%, transparent);
  background-color: var(--text-on-brand);
  // border: 1px solid $PrimaryColor;
  border: 1px solid var(--brand-primary-100);
  // color: $PrimaryColor;
  color: var(--brand-primary-700);
  font-weight: $BaseFontSemiBoldWeight;
  font-size: $XsSize;
  //padding: 0 10px;
  font-family: 'Regular';
  // padding: 0;
  &:hover {
    // background-color: $PrimaryColor;
    background-color: var(--brand-primary-700);
    color: var(--text-on-brand);
    // border-color: $PrimaryColor;
    border-color: var(--brand-primary-700);
  }
}
