@use '../variables' as *;

.btn-secondary {
  background-color: #1d4ed80f;
  border: 1px solid $PrimaryColor;
  color: $PrimaryColor;
  font-weight: $BaseFontSemiBoldWeight;
  font-size: $XsSize;
  //padding: 0 10px;
  font-family: 'Regular';
  // padding: 0;
  &:hover {
    background-color: $PrimaryColor;
    color: white;
    border-color: $PrimaryColor;
  }
}
