@use "../variables" as *;
@use "../mixins/border" as *;
@use "../mixins/flex" as *;

.filter {
  position: relative;
  margin-top: $XlSize4;
  width: 90%;

  @media(max-width:768px){
    width: 100%;
  }

  .tabs {
    position: absolute;
    left: 50%;
    top: calc(0 - calc(#{$XsSize4} * 2));
    transform: translate(-50%, -50%);
    @include flex-row(nowrap, center, center);
    gap: $XlSize4;
    background: rgba(28, 27, 3, 0.9);
    width: fit-content;
    margin-inline: auto;
    padding: $XsSize2;
    backdrop-filter: blur(2px);
    border-radius: $XlSize4;

    @media(max-width:768px){
      @include flex-row(nowrap, center, center);
    }


    @media (max-width: 768px) {
      padding: $XsSize;
      gap: $XsSize2;
      // flex-wrap: wrap;
       @include flex-row(nowrap, center, center);
       top: 0;
       left: 0;
       transform: translate(0,0);
      width: 90%;
      margin: 12px;
      overflow-x: scroll;
    }

    .tab {
      @include flex-row(nowrap, center, center);
      gap: $XsSize;
      cursor: pointer;
      padding: $XsSize2;
      border-radius: $XlSize3;
      font-size: $MdSize;
      color: $BgWhite;
      font-weight: $BaseFontSemiBoldWeight;
      will-change: color;
      transition: $TransitionSlow;
      text-wrap: nowrap;
      @media (max-width: 768px) {
        font-size: $XsSize;
        padding: $XsSize;
        flex: 1 1 auto; // Allow flexible sizing
        min-width: max-content;
      }

      svg {
        path {
          fill: $BgWhite;
        }
      }

      &.active,
      &:hover {
        background-color: $BgWhite;
        color: $PrimaryColor;
        font-weight: $BaseFontWeightBold;

        svg {
          path {
            fill: $PrimaryColor;
          }
        }
      }
    }
  }

  .inputs {
    padding: $XlSize4 $XlSize $XsSize;
    background-color: $BgWhite;
    @include border($BaseBorderWidth, $TextGray6, solid, $XsSize2);
    @include flex-align(row, nowrap);

    > * {
      flex: 1 1 100%;
    }
    @media (max-width: 768px) {
      @include flex-column();
      gap: $XsSize2;
      padding-top: calc(#{$XlSize4} * 2);
    }
    @media (max-width: 570px) {
      @include flex-column();
      gap: $XsSize2;
      padding-top: calc(#{$XlSize4} * 2.5);
    }

    .nights {
      color: $TextGray2;
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $SmSize;
      text-transform: capitalize;
      padding-inline-end: $XlSize2;
      white-space: nowrap;
      
    



      flex: 1 1 auto;
      @media (max-width: 768px) {
        padding-inline-end: 0;
      }
    }

    .btn-primary{
      width: 100%;
    }
  }
}
