
@use "../variables" as *;



.hotel-swiper {
  &::part(bullet) {
    background-color: $White;
  }

  &::part(bullet-active) {
    background-color: $White;
    width: 16px;
    //height: 45px;
    border-radius: $XlSize3;
  }
}
