
@use "../variables" as *;



.hotel-swiper {
  &::part(bullet) {
    background-color: var(--surface-1);
  }

  &::part(bullet-active) {
    background-color: var(--surface-1);
    width: 16px;
    //height: 45px;
    border-radius: $XlSize3;
  }
}
