@import '../../../variables';
@import '../../../mixins/flex';

.investegaion-meeting-card {
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  background-color: #fdfdfd;
  padding: $XsSize2;
  border-radius: $XsSize;
  border: 1px solid #f6f6f6;

  .card-header {
    @include flex-row(nowrap, space-between, center);
    width: 100%;

    .plateform {
      @include flex-row(nowrap, flex-start, center);
      gap: 4px;
    }
    .status-Ended {
      color: #d3d3d3;
      font-size: $SmSize;
      font-weight: $BaseFontWeightBold;
    }
    .status-Coming {
      color: $PrimaryColor;
      font-size: $SmSize;
      font-weight: $BaseFontWeightBold;
    }
  }

  .meeting-date {
    color: #aeaeb2;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
    span {
      color: $PrimaryColor;
      font-weight: $BaseFontSemiBoldWeight;
    }
  }
  .meeting-time {
    color: #aeaeb2;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
    span {
      color: #202020;
      font-weight: $BaseFontSemiBoldWeight;
    }
  }
}
