@import '../../../variables';
@import '../../../mixins/flex';

.cause-of-accidant {
  font-family: 'Regular';
  .accident-answer {
    .accident-answer-factors-container {
      // @include flex-row(nowrap, space-between, center);
      .accident-answer-factors {
        padding-left: 14px;
        // border-left: 1px solid #bdcbda;
        .main-factor {
          color: #bdcbda;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          position: relative;
          padding-left: 10px;
          @include flex-align();
          left: -10px;

          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #bdcbda;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
          }
          span {
            color: $PrimaryColor;
          }
        }
        .sub-factor {
          color: #bdcbda;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          position: relative;
          @include flex-align();
          .sub-factor-icon {
            position: relative;
            left: -12px;
          }
          span {
            color: #6a717d;
          }
        }
      }
    }
  }
}
