@import '../../../variables';
@import '../../../mixins/flex';

.cause-of-accidant {
  font-family: 'Regular';
  .answer-header {
    background-color: white !important;
    .section-header-page {
      background-color: white !important;
    }
  }
  .accident-answer {
    width: 100%;
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize2;
    padding: 12px;
    .accident-answer-factors-container {
      @include flex-row(nowrap, space-between, center);
      width: 100%;

      .accident-answer-factors {
        padding-left: 14px;
        // border-left: 1px solid #bdcbda;
        .main-factor {
          color: #bdcbda;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          position: relative;
          padding-left: 10px;
          @include flex-align();
          left: -10px;

          &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #bdcbda;
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
          }
          span {
            color: $PrimaryColor;
          }
        }
        .sub-factor {
          color: #bdcbda;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          position: relative;
          @include flex-align();
          .sub-factor-icon {
            position: relative;
            left: -12px;
          }
          span {
            color: #6a717d;
          }
        }
      }
      .corrective-action {
        @include flex-column(nowrap, flex-start, flex-start);
        background-color: #fbfbfb;
        padding: $XsSize2 $MdSize;
        border-radius: $XlSize;
        max-width: 60%;
        .corrective-action-header {
          @include flex-row(nowrap, flex-start, center);
          width: 100%;
          .corrective-action-title {
            color: #4caf50;
          }
          hr {
            width: 80%;

            border: none;
            height: 2px;
            background-color: #4caf501a;
          }
        }

        .corrective-action-content {
          color: #9299a5;
          max-width: 100%;
        }
      }
    }
  }
}
