@import '../../../variables';
@import '../../../mixins/flex';

.investegaion-viewers-card-conatiner {
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  background-color: #ffffffcc;
  padding: $XsSize2;
  width: 100%;
  grid-column: span 3;

  .viewer-number {
    color: $PrimaryColor;
    font-size: $MdSize;
    font-weight: $BaseFontWeightBold;
  }

  .investegaion-viewers-card {
    @include flex-row(nowrap, space-between, center);
    width: 100%;
    gap: $MdSize;
    .view {
      width: 80%;
      padding: 10px;
      border-radius: $XsSize;
      border: 1px solid #edeff5;
      background-color: #fbfbfb;
      @include flex-column(nowrap, flex-start, flex-start);
      .view-header {
        width: 100%;
        @include flex-row(nowrap, space-between, center);
        gap: 10px;
        span {
          color: #00006b;
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .hr {
          display: block;
          position: relative;
          width: 80%;
          margin-right: auto;
          border: none;
          height: 2px;
          background-color: #1f41bb1a;
        }
      }
      .view-content {
        color: #9299a5;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
      }
    }

    .person {
      width: 20%;
      @include flex-row(nowrap, flex-start, center);
      padding: 10px;
      border-radius: $XsSize;
      // border: 1px solid #edeff5;
      background-color: #fbfbfb;
      gap: 12px;
      img {
        width: 50px;
        height: 50px;
      }

      .person-data {
        @include flex-column(nowrap, flex-start, flex-start);
        .person-name {
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
          color: $PrimaryColor;
        }
        .person-title {
          color: #9ca3af;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
        }
      }
    }
  }
}
