@import "./InvestigationUtils/investigations_result_header";
@import "./InvestigationUtils/cause_of_accidant";
@import "./InvestigationUtils/timeline_tasks";
@import "./InvestigationUtils/rate_of_actions";
@import "./InvestigationUtils/investegation_attachment";
@import "./InvestigationUtils/viwers_results";
@import "./InvestigationUtils/another_meeting";
@import "./InvestigationUtils/attachment_dialog";
@import "./invistigation_result";
