@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.investigation-result {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize;
  width: 100%;

  .investigation-title {
    @include flex-row(nowrap, flex-start, center);
    width: 100%;
    gap: $XsSize4;
    background-color: #f8f9fb;
    padding: $MdSize;
    p {
      font-size: calc($XlSize + 3px);
      font-weight: $BaseFontWeightBold;
      color: #05276c;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .attachments-show {
    @include flex-column(nowrap, center, center);
    gap: $XsSize;
    width: 100%;
    background-color: #f8f9fb;
    .title {
      padding: $MdSize;
      padding-inline: 30px;
      border-radius: 12px;
      color: $PrimaryColor;
    }
    p {
      font-size: $MdSize;
    }
  }
  .title-header {
    background-color: white;
  }
  .btns {
    @include flex-row(nowrap, center, center);
    gap: $SmSize;
    width: 100%;
    button {
      &.btn-primary {
        width: 80%;
      }
      &.btn-cancel {
        width: 20%;
      }
    }
  }
}
