@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.select-container {
  font-family: 'Regular';
  border-radius: $XlSize;
  transition: all 0.1s linear;
  cursor: pointer;

  &.selected {
    border: 2px solid $PrimaryColor;
  }

  label {
    @include flex-center();
    gap: $XsSize2;
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    color: #9ca3af;
    background-color: #f8f9fa99;
    padding: $XlSize $MdSize;
    border-radius: $XsSize2;
    cursor: pointer;
    border: none;
    outline: none;
    img {
      width: 54px;
      height: 54px;
    }
  }

  input {
    display: none;
  }

  .p-multiselect {
    background: unset !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width: 100%;
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
  }
}
