@import './tempalte_item';
@import './template_type';
@import './dropdown_type';
@import './template_image';
@import './radio_btns_types';
@import './show_template';
@import './template_doc';
@import './TemplateDocumentTypes/template_document_radio_button';
@import './TemplateDocumentTypes/template_document_checkbox';
@import './TemplateDocumentTypes/template_document_select';
@import './template_form';
@import './add_new_template_dialog';
@import './template_item_container';
@import './ShowResultComponents/selcect_show_result';
@import './ShowResultComponents/checkbox_show_result';
@import './ShowResultComponents/radio_show_result';
@import './ShowResultComponents/textarea_show_result';
