@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.template-upload-img {
  @include flex-column(nowrap, flex-start, flex-start);
  margin-top: $XlSize;
  font-family: 'Light';
  background-color: color-mix(in srgb, var(--brand-primary-50) 40%, transparent);
  border-radius: $SmSize;
  padding: $XsSize;

  .template-upload-header {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize2;
    width: 100%;
    .title {
      color: var(--text-soft);
      font-size: $MdSize;
      font-weight: $BaseFontMediumWeight;
    }
    .icon {
      width: 40px;
      height: 40px;
    }
  }
  .template-hr {
    border: none;
    height: 1px;
    width: 100%;

    background-color: var(--text-on-brand);
    margin-block: $XsSize2;
  }
  .template-image-type-container {
    @include flex-row(nowrap, center, center);
    gap: 15px;
    .template-image-type {
      @include flex-row(nowrap, center, center);
      gap: 6px;

      label {
        color: var(--brand-primary-700);
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
  }
  .p-checkbox-box {
    border-radius: 5px !important;
    border: 1px solid var(--brand-primary-50) !important;
    svg {
      fill: var(--text-on-brand) !important;
    }
  }
  .p-checkbox-checked .p-checkbox-box svg {
    fill: var(--text-on-brand) !important;
    display: block !important;
  }

  .p-radiobutton-checked .p-radiobutton-box {
    border-color: $PrimaryColor !important;
    background-color: $PrimaryColor !important;
  }
  .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
    border-color: $PrimaryColor !important;
    background-color: $PrimaryColor !important;
  }
}
