@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.equipment-form {
  .demo-card {
    background-color: #fafbfc;
    padding: $XsSize;

    .texts {
      @include flex-column(nowrap, flex-start, flex-start);
      .title {
        font-size: $XlSize2;
        font-weight: $BaseFontWeightBold;
        color: var(--header-page-color);
      }
      .subtitle {
        font-size: $SmSize;
        color: var(--subtitle-color);
        width: 85%;
      }
    }
    .sub-card {
      @include flex(row, nowrap, space-between, center);
      @media screen and (max-width: 900px) {
        @include flex(row, wrap, space-between, center);
      }
      gap: $SmSize;
      background-color: var(--BgWhite);
      border-radius: $XsSize;
      padding: $XsSize;
      margin-block: $XsSize;
      .demo-img {
        border-radius: $XsSize;
        width: 100px;
        height: 100px;
      }
      .sub-card-body {
        width: 100%;
        .first-item {
          font-weight: $BaseFontSemiBoldWeight;
          font-size: $SmSize;
          color: var(--PrimaryColor);
        }
        .demo-title {
          font-size: $MdSize2;
          font-weight: $BaseFontWeightBold;
          color: var(--second-dark-color);
          margin-block: 0.5rem;
        }
        .inspection {
          @include flex(row, nowrap, start, center);
          margin-block: 0.5rem;
          gap: 0.5rem;
          color: #4b5563;
        }
        .date {
          color: #4b5563;
          span {
            color: var(--Red);
            font-weight: $BaseFontWeightBold;
          }
        }

        .sub-card-header {
          @include flex(row, nowrap, space-between, center);

          .link {
            text-decoration: underline;
            font-size: $SmSize;
            color: var(--DarkGray);
          }
        }
      }
    }
  }
}
