@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.equipment-form {
  .vehicle {
    @include flex-row(nowrap, flex-start, center);
    gap: $SmSize;
    background-color: rgba(241, 243, 245, 0.4);
    padding: $SmSize;
    border-radius: $SmSize;
    margin-block: $MdSize;
    label {
      p {
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
        b {
          font-size: $MdSize;

          font-weight: $BaseFontWeightBold;
        }
      }
    }
  }
  .card_Qr {
    background-color: #fafbfc;
    padding: $XlSize $XlSize3;
    border-radius: $XlSize;
    // @include flex-row(nowrap, space-around, center);
   
    display: grid;
    grid-template-columns: 2fr 4fr; 
    gap: $XsSize;
    .machine_card {
      @include flex-column(nowrap, center, flex-start);
      h6 {
        font-size: $XlSize;
        font-weight: $BaseFontWeightBold;
        color: var(--header-page-color);
      }
      p {
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        color: #6b7280;
      }
    }
    .Qr_EQUIPMENt {
      @include flex(row, nowrap, space-between, center);
      background-color: white;
      border-radius: $XlSize;
      padding: $MdSize;
      .demo-card{
          background-color: white;
      }
      .rent_expire {
        .expire_date {
          margin-top: $XsSize3;
          color: var(--subtitle-color);
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          span {
            color: var(--danger-color);
          }
        }
        .date_rent {
          margin-top: $XsSize;
          @include flex-row(nowrap, space-around, center);
          gap: $MdSize;
          .rent {
            @include flex-row(nowrap, space-around, center);
            gap: $XsSize4;
            font-size: $SmSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: #ced5e1;
            span {
              color: #3898d7;
            }
          }
          .start_date {
            color: var(--subtitle-color);
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            span {
              color: #1f41bb;
            }
          }
          .end_date {
            color: var(--subtitle-color);
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            span {
              color: var(--danger-color);
            }
          }
        }
      }
      .demo-title{
        margin-bottom: $XsSize2;
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
        color: #0F1927;
      }
    }
  }
}
