@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.equipment-form {
  .tabs-container {
    @include grid(3, 10px);
    width: 100%;
    margin: $XlSize 0 $XlSize 0;
    padding-inline: $MdSize;
    .tab {
      text-align: center;
      width: 100%;
      background-color: var(--surface-1);
      //   border: 2px dashed color-mix(in srgb, var(--brand-primary-500) 30%, transparent);
      border-radius: $XlSize;
      color: var(--text-soft);
      font-weight: $BaseFontSemiBoldWeight;
      text-transform: capitalize;
      cursor: pointer;
      padding: $MdSize;
      @media (max-width: 768px) {
        @include flex-column(nowrap, center, center);
      }
      transition: all 0.3s ease-in-out;
    }
    .activeTab {
      background-color: var(--brand-primary-50);
      border: 2px dashed var(--brand-primary-500);
      color: var(--PrimaryColor);
    }
  }
}
