@import '../../variables';
@import '../../mixins/flex';

.tool-card {
  width: 100%;
  background-color: #fafafa;
  padding: $XsSize;
  border-radius: $SmSize;
  font-family: 'Regular';
  img {
    width: 70px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
  }

  .tool-card-header {
    @include flex-row(nowrap, flex-start, center);
    width: 100%;
    gap: $XsSize2;

    .tool-card-header-text {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: 3px;

      .card-type {
      }

      color: #9ca3af;
      // @include flex-row(nowrap, flex-start, center);
      .main-type {
        color: $PrimaryColor;
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
      }

      .subtype {
        // color: #9ca3af;
        font-weight: $BaseFontWeightBold;
        font-size: $MdSize2;
        @include flex-row(nowrap, flex-start, center);
        gap: 6px;
        color: #0F1927;
        padding-top: 3px;
        .arrow {
          color: #9ca3af;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .title {
        color: #9CA3AF;
        font-weight: $BaseFontWeightBold;
        font-size: $MdSize;
      }

      .inspection {
        color: #9ca3af;
        font-weight: $BaseFontMediumWeight;
        font-size: $SmSize;

        .date {
          color: #4b5563;
        }
        .per {
          color: $PrimaryColor;
        }
      }
    }
  }

  .tool-hr {
    width: 100%;
    height: 1px;
    border: none;
    margin-block: $XsSize;
    background-color: #f1f3f5;
  }

  .tool-subtitle {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize2;
    .subtitle {
      color: #121212;
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $SmSize;
    }
  }

  .tool-card-footer {
    @include flex-row(nowrap, space-between, center);
    width: 100%;
    margin-top: $XsSize;

    p {
      color: #6b7280;
      font-weight: $BaseFontMediumWeight;
      font-size: $XsSize;

      &.date,
      &.added-by {
        span {
          color: #121212;
          font-weight: $BaseFontSemiBoldWeight;
        }
      }

      &.status {
        span {
          color: #4caf50;
        }
      }
    }
  }
}
