@import '../../variables';
@import '../../mixins/flex';

.tool-card {
  width: 100%;
  background-color: #fafafa;
  padding: $XsSize;
  border-radius: $SmSize;
  font-family: 'Light';

  &.equipment-card {
    background-color: #ffffff;
  }

  img {
    width: 120px;
    height: 90%;
    border-radius: 8px;
    object-fit: cover;
  }

  .tool-card-header {
    @include flex-row(nowrap, flex-start, center);
    width: 100%;
    gap: $XsSize2;

    .tool-card-header-text {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: 3px;

      .certificat-btn {
        color: #4b5563;
      }
      .type {
        @include flex-row(nowrap, center, center);
        .main-type {
          color: #0f1927;
          font-weight: $BaseFontWeightBold;
          font-size: $MdSize2;
        }
        .icon {
          width: 20px;
          height: 20px;
        }
      }

      color: #9ca3af;
      // @include flex-row(nowrap, flex-start, center);
      .main-type {
        color: $PrimaryColor;
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
        font-family: 'Regular';
      }

      .subtype {
        // color: #9ca3af;
        font-weight: $BaseFontWeightBold;
        font-size: $MdSize2;
        @include flex-row(nowrap, flex-start, center);
        gap: 6px;
        color: #0f1927;
        padding-top: 3px;

        .subtype-title {
          color: $PrimaryColor;
          font-size: $SmSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .arrow {
          color: #9ca3af;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .title {
        color: #9ca3af;
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
      }

      .inspection {
        color: #9ca3af;
        font-weight: $BaseFontMediumWeight;
        font-size: $SmSize;

        .date {
          color: #4b5563;
        }
        .per {
          color: $PrimaryColor;
        }
      }
    }
  }

  .tool-hr {
    width: 100%;
    height: 1px;
    border: none;
    margin-block: $XsSize;
    background-color: #f1f3f5;
  }

  .tool-subtitle {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize2;
    .subtitle {
      color: #121212;
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $SmSize;
    }
  }

  .tool-card-footer {
    @include flex-row(nowrap, space-between, center);
    width: 100%;
    margin-top: $XsSize;

    p {
      color: #6b7280;
      font-weight: $BaseFontMediumWeight;
      font-size: $XsSize;

      &.date,
      &.added-by {
        span {
          color: #121212;
          font-weight: $BaseFontSemiBoldWeight;
        }
      }

      &.status {
        span {
          color: #4caf50;
        }
      }
    }
  }

  .equipment-project-info {
    @include flex-row(nowrap, flex-start, center);
    gap: 10px;
    background-color: #fefcfa;
    padding: $XsSize2;
    border-radius: $SmSize;
    width: 100%;

    img {
      width: 30px;
      height: 30px;
    }
    .project-data {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: 4px;
      .project-name {
        padding-left: 6px;
        color: #d36816;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
      .project-zone-name {
        @include flex-row(nowrap, flex-start, flex-start);
        gap: 4px;
        color: #9ca3af;
        font-size: $XsSize;
        font-weight: $BaseFontSemiBoldWeight;
        img {
          width: 12px;
          height: 12px;
          rotate: -20deg;
        }
      }
    }
  }
}
