@use "../variables" as *;
@use "../mixins/flex" as *;

.own-partner-section {
    padding-block: $XlSize4;

    background: linear-gradient(90deg, #f9eeff 0%, #ffffff 31.34%, #fcf6ff 100%);

    position: relative;

    .container {
        @include flex-column();
        gap: clamp(calc(40 * 0.8px), calc(40 * 100vw / var(--base-width)), calc(40 * 1.2px));
    }

    .section-title-wrapper {
        .section-title {
            .main-title {
                font-size: $XlSize2;
                font-weight: $BaseFontWeightBold;
                text-transform: capitalize;
            }
        }
    }
}
