@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/border" as *;


.meals {
    @include flex-column();
  padding: $MdSize;
    gap: $XlSize;

  .meal {
    @include flex(row, wrap, space-between, center);
    gap: $MdSize;
    @include border($BaseBorderWidth, $TextGray6, solid, $MdSize);
    padding: $MdSize;
    cursor: pointer;

    &:has(input:checked) {
      background-color: $SecondaryColor;
      color: $BgWhite;
    }

    input[type="radio"] {
      display: none;
    }



  }
}