@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/grid" as *;

.our-advantages-container {
  padding-block: 0 calc($XlSize4 + 29px);
  .container {
    @include flex-column(nowrap, center, center);

    @media (max-width: 1200px) {
      max-width: 100%;
      padding: 0 60px !important;
    }

    .our-advantages-header {
      @include flex-column(nowrap, center, center);
      width: 100%;
      gap: $XlSize2;
      padding: calc($XlSize4 + 50px) 232px $XlSize4 231px;

      @media (max-width: 768px) {
        padding: $XlSize;
      }

      .our-advantages-subtitle {
        color: $TextColor8;
        padding: $XsSize $XlSize;
        background-color: #f6f3fc;
        border-radius: $MdSize;
      }

      .our-advantages-title {
        font-size: calc($XlSize3 + 10px);
        font-weight: $BaseFontWeightBold;
        color: #03170b;
        max-width: 975px;
        text-align: center;
      }
    }

    .our-advantages-gallery {
      .advantages-item {
        @include grid(2, $XlSize2);
        @media (max-width: 1000px) {
          grid-template-columns: 1fr;
        }
        width: 100%;
        @media (max-width: 1000px) {
          flex-direction: column;
        }
        .gallery-item {
          background-color: #f8fbff;

          &:nth-child(1) {
            @include flex-column(nowrap, flex-start, flex-end);
            position: relative;
            overflow: hidden;
            border-radius: calc($XlSize3 + 2px);

            @media (max-width: 1000px) {
              grid-column: span 2;
            }
            // width: fit-content;
            width: 100%;

            .bg-img {
              z-index: 2;
              position: relative;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }

            .item-image-container {
              z-index: 10;

              .item-img {
                position: absolute;
                top: -44px;
                left: -185px;
                height: 116%;
                transform: rotate(-15deg);
                z-index: 10;
                scale: 0.9;
              }
            }

            .gallery-item-text {
              @include flex-column(nowrap, flex-start, center);
              gap: $MdSize;
              z-index: 10;
              display: flex;
              position: absolute;
              top: 10%;
              left: 50%;
              transform: translate(0%, 25%);
              .gallery-title {
                text-align: center;
                color: #03170b;
                font-size: calc($XlSize2 + 2px);
                font-weight: $BaseFontWeightBold;
              }

              .gallery-subtitle {
                color: $TextGray2;
                font-size: $MdSize;
                font-weight: $BaseFontWeight;
                text-align: center;
                max-width: 315px;
                color: #666666;
              }
            }

            .reserv-card {
              position: absolute;
              top: 44%;
              left: 28%;
              transform: translate(-90%, -50%);
              transform: rotate(-17deg);
              width: 68%;
              z-index: 10;
              height: 23%;
            }
          }

          &:nth-child(2),
          &:nth-child(4),
          &:nth-child(5) {
            @include flex-column(nowrap, flex-start, center);
            position: relative;
            gap: $XlSize;
            padding: calc($XlSize4 + 6px) calc($XlSize4 + 47px) 0;
            overflow: hidden;
            border-radius: calc($XlSize3 + 2px);
            @media (max-width: 1000px) {
              width: 100%;
            }
            @media (max-width: 1000px) {
              grid-column: span 2;
            }

            .bg-img {
              z-index: 2;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 60%;
              transform: translateX(-50%);
            }

            .gallery-item-text {
              @include flex-column(nowrap, flex-start, center);
              gap: $MdSize;
              z-index: 10;
              .gallery-title {
                text-align: center;
                color: #03170b;
                font-size: calc($XlSize2 + 2px);
                font-weight: $BaseFontWeightBold;
              }

              .gallery-subtitle {
                color: $TextGray2;
                font-size: $MdSize;
                font-weight: $BaseFontWeight;
                text-align: center;
                // max-width: 413px;
              }
            }

            .bag-icon {
              position: absolute;
              top: 35%;
              right: 3%;
              transform: translate(-50%);
              z-index: 10;
            }
            .plabe-icon {
              position: absolute;
              top: 70%;
              left: 5%;
              transform: translate(-50%);
              z-index: 10;
            }
            .world-icon,
            .second-world-icon {
              position: absolute;
              top: 12%;
              left: 12px;
              transform: translateY(-50%);
            }

            .yellow-star-one {
              position: absolute;
              top: 62%;
              left: 8px;
              transform: translateY(-50%);
            }
            .yellow-star-two {
              position: absolute;
              top: 44%;
              right: -18px;
              transform: translateY(-50%);
            }
            .green-star {
              position: absolute;
              top: 33%;
              left: 25px;
              transform: translateY(-50%);
            }
          }

          &:nth-child(3) {
            width: 100%;
            padding: calc($XlSize4 + 41px) $MdSize $MdSize calc($XlSize4 + 10px);
            gap: $MdSize;
            @include flex-column(nowrap, flex-start, flex-start);
            position: relative;
            overflow: hidden;
            border-radius: calc($XlSize3 + 2px);
            grid-column: span 2;

            .item-image-container {
              .item-img {
                width: 20%;
              }
              .main-bg-img {
                position: absolute;
                top: 62%;
                left: 22%;
                transform: translateY(-50%);
                width: 100%;
              }
            }

            .gallery-item-text {
              @include flex-column(nowrap, flex-start, flex-start);
              gap: $MdSize;
              z-index: 10;
              .gallery-title {
                color: #03170b;
                font-size: calc($XlSize2 + 2px);
                font-weight: $BaseFontWeightBold;
                max-width: 516px;
              }

              .gallery-subtitle {
                font-size: $MdSize;
                font-weight: $BaseFontWeight;
                color: $TextGray2;
                max-width: 516px;
              }
            }

            .world-icon {
              position: absolute;
              top: 80%;
              left: 42%;
              transform: translateY(-50%);
            }
            .travelbag-icon {
              position: absolute;
              top: 29%;
              right: 8%;
              transform: translateY(-50%);
            }
            .right-icon {
              position: absolute;
              top: 21%;
              left: 42%;
              transform: translateY(-50%);
            }
          }
          .bg-img,
          .mian-bg-img {
            position: absolute;
          }
          &:not(:nth-child(1)) {
            .reserv-card {
              display: none;
            }
          }
          &:not(:nth-child(3)) {
            .world-icon,
            .travelbag-icon,
            .right-icon {
              display: none;
            }

            .item-image-container {
              .main-bg-img {
                display: none;
              }
            }
          }
          &:not(:nth-child(4)) {
            .second-world-icon {
              display: none;
            }
          }
          &:not(:nth-child(5)) {
            .yellow-star-one,
            .yellow-star-two,
            .green-star {
              display: none;
            }
          }
          &:not(:nth-child(2)) {
            .bag-icon,
            .plabe-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}
