@use "../../variables" as *;
@use "../../mixins/flex" as *;

.refund-container {

  padding: $MdSize;

  h6 {
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $MdSize;
    color: $SecondaryColor;
    margin-bottom: $SmSize;
  }

  
  .refund-item, .refund {
    @include flex(row, wrap, flex-start, center);
    gap: $XsSize2;
    color: $TextGray2;
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    //margin-top: $XsSize2;
  }

}