@use "../../variables" as *;
@use "../../mixins/flex" as *;
@use "../../mixins/border" as *;

.rooms {
  width: 100%;


  .rooms-table {
    width: 100%;
    margin-top: $MdSize;
    border: $BaseBorderWidth solid $TextGray6;
    border-radius: 10px;

    @media (max-width: 768px) {
      display: none;
    }

    .table-header {


      th {
        padding-inline: $XlSize;
        width: 100%;

        background: #F5F7FA;

        white-space: nowrap;
        padding: $XlSize $XlSize2;
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
        font-style: normal;
        color: $SecondaryColor;
        position: relative;
      }


      //p {
      //  padding: $XlSize $XlSize2;
      //  font-weight: $BaseFontSemiBoldWeight;
      //  font-size: $MdSize;
      //  color: $SecondaryColor;
      //  position: relative;
      //
      //  &:before {
      //    content: "";
      //    display: block;
      //    width: 2px;
      //    height: 100%;
      //    position: absolute;
      //    bottom: 0;
      //    left: 0;
      //    background-color: #E6E6E6;
      //
      //  }
      //
      //  //&:first-child {
      //  //  &:before {
      //  //    display: none;
      //  //  }
      //  //}
      //}
    }

    .table-body {

      td {
        @include border-end($BaseBorderWidth, $TextGray6);
        padding: $MdSize;
      }

      .card {
        @include flex-column(nowrap, start, start);


        gap: $XsSize2;
        padding-inline: $SmSize;
        padding-top: .8rem;

        .card-title {
          font-weight: $BaseFontSemiBoldWeight;
          color: $SecondaryColor;
          font-size: $XlSize;
        }

        .card-line {
          height: 1px;
          background-color: $TextGray6;
          opacity: 0.2;
          width: 100%;
        }

        .card-image {
          width: 100%;
          height: 10rem;
          position: relative;

          img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
            border-radius: 10px;
          }

          .gallery {
            position: absolute;
            bottom: .8rem;
            right: .8rem;
            background-color: $SecondaryColor;
            color: $BgWhite;
            padding: $XsSize $SmSize;
            border-radius: 30rem;
            @include flex(row, wrap, center, center);
            gap: $XsSize;
          }
        }

        .bed {
          @include flex(row, wrap, flex-start, center);
          gap: $XsSize4;
          //font-weight: $BaseFontSemiBoldWeight;
          font-size: $SmSize;
          color: $TextGray2;
        }

        .guests {
          @include flex-center();
          gap: $XsSize4;
          width: 100%;
          //font-weight: $BaseFontSemiBoldWeight;
          //font-size: $SmSize;
          //color: $TextGray2;
        }

        .facilities-list {
          margin-block: initial;
        }

        .choices {
          @include flex-column();
          gap: $MdSize;


          .choice {
            @include flex-align();
            gap: $XsSize4;
            font-weight: $BaseFontSemiBoldWeight;
            font-size: $SmSize;
            color: $BgGreen;

            p {
              white-space: nowrap;
            }
          }
        }

        .price {
          .price-text {
            font-size: $XlSize2;
            font-weight: $BaseFontWeightBold;
            color: $SecondaryColor;
            text-transform: capitalize;

          }

          .price-value {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            text-transform: capitalize;
            color: $TextGray2;
          }
        }

        .details-reserve {
          @include flex-column();
          gap: $XsSize2;

          .room-count {
            text-transform: capitalize;
            font-size: $SmSize;
            font-weight: $BaseFontWeight;
            color: $SecondaryColor;
          }

          .cost {
            @include flex-align();
            gap: $XsSize4;
            white-space: nowrap;

            .discount {
              color: $BgRed;
              text-decoration-line: line-through;
              font-size: $MdSize;
            }

            .total {
              color: $PrimaryColor;
              font-size: $XlSize;
              font-weight: $BaseFontWeightBold;
            }

          }

          .tax, .reserve-description {
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            text-transform: capitalize;
          }

          .tax {
            color: $TextGray;
            white-space: nowrap;


          }

          .reserve-description {

            color: $TextGray2;
          }

        }

        position: relative;

        //&:after {
        //  content: "";
        //  display: block;
        //  width: 2px;
        //  height: 100%;
        //  position: absolute;
        //  bottom: 0;
        //  right: -4px;
        //  background-color: #E6E6E6;
        //}
      }

    }
  }
}


select {
  appearance: base-select;
  width: 100%;
  @include border($BaseBorderWidth, $TextGray6, solid, $XsSize4);
  padding: $XsSize2 $SmSize;
  color: $SecondaryColor;
  font-size: $SmSize;
}