@use '../variables' as *;
@use '../mixins/flex' as *;
.excel-seelect-dialog {
  width: 100%;
  .data-container {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    gap: 10px;
    .column-item {
      width: 100%;
    }
  }
}
