@import '../../variables';
@import '../../mixins/flex';

.observation-genral-info-conatiner {
  background-color: white;

  border-radius: 12px;
  .genral-info-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize;
    width: 100%;
    // border-bottom: 1px dashed #efefef;
    // padding: $XsSize;
    .observation-genral-info {
      background-color: white;

      width: 100%;
      @include flex-row(nowrap, space-between, center);
      .like_lihood-container {
        color: #b3b4b7;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        .like_lihood-title {
        }
        .like_lihood {
          color: #32353d;
          font-weight: $BaseFontSemiBoldWeight;
          font-size: $MdSize;
          position: relative;
          padding-left: $SmSize;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            width: 5px;
            height: 5px;
            background-color: #32353d;
            border-radius: 50%;
          }
        }
      }
      .severity-container {
        color: #b3b4b7;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        .severity {
          color: #32353d;
          font-weight: $BaseFontSemiBoldWeight;
          font-size: $MdSize;
          position: relative;
          padding-left: $SmSize;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            width: 5px;
            height: 5px;
            background-color: #32353d;
            border-radius: 50%;
          }
        }
      }
      .observation-type {
        color: #b3b4b7;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;

        span {
          color: #32353d;
          font-weight: $BaseFontSemiBoldWeight;
          font-size: $MdSize;
          position: relative;
        }
      }

      .root-causes {
        @include flex-column(nowrap, flex-start, flex-start);
        gap: $XsSize;
        .root-causes-title {
          color: $PrimaryColor;
          font-weight: $BaseFontWeightBold;
          font-size: $SmSize;
          position: relative;
        }
        .root-causes-content {
          @include flex-row(nowrap, flex-start, flex-start);
          gap: $XlSize3;
          .root-title {
            color: #5e5e5e;
            font-weight: $BaseFontMediumWeight;
            font-size: $SmSize;
            position: relative;
            padding-left: $SmSize;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0px;
              width: 5px;
              height: 5px;
              background-color: #5e5e5e;
              border-radius: 50%;
            }
          }
        }
      }

      .observation-risk-level {
        font-weight: 700;
        font-size: 16px;

        &.Low {
          color: $PrimaryColor;
        }
        &.Medium {
          color: #ffbf52;
        }
        &.High {
          color: #e23535;
        }
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    .hazard-info {
      padding: $XsSize;

      .severity-container {
        color: #b3b4b7;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        .severity {
          color: #32353d;
          font-weight: $BaseFontSemiBoldWeight;
          font-size: $MdSize;
          position: relative;
          padding-left: $SmSize;
          &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
            width: 5px;
            height: 5px;
            background-color: #32353d;
            border-radius: 50%;
          }
        }
      }
    }
  }
  .take-action-container {
    width: 100%;
    padding: $XsSize;
    padding-bottom: $MdSize;
    // border-top: 1px dashed #efefef;

    @include flex-row(nowrap, space-between, center);
    .action-container {
      margin-top: $XsSize2;
      @include flex-row(nowrap, flex-start, center);
      gap: $XsSize;
      .emp-text {
        color: #32353d;
        font-size: $MdSize2;
        font-weight: $BaseFontSemiBoldWeight;
      }
      .action-text {
        color: #8b8d91;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
    .status-container {
      .status {
        @include flex-row(nowrap, center, center);
        gap: $SmSize;
        background-color: #fcfcfc;
        padding: calc($XsSize4 + 1px) $SmSize;
        border-radius: calc($SmSize + 1px);
        span {
          color: #000000;
          font-size: $MdSize2;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .icon {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
}
