@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.project-location {
  background-color: #fafafacc;
  padding: $MdSize;
  border-radius: $XlSize;
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize;
  width: 100%;

  .project-location-header {
    width: 100%;
    @include flex-row(nowrap, space-between, center);

    .show-all-btn {
      color: #3d4c5e;
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      text-decoration: underline;
    }
  }
  .card-section {
    // @include flex-row(nowrap, space-between, center);
    @include grid(
      2,
      10px,
      (
        1440px: 2,
        768px: 1,
      )
    );
    gap: $XsSize3;
    width: 100%;
  }
}
