@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.project-location {
  background-color: #fafafacc;
  padding: $MdSize;
  border-radius: $XlSize;
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize;
  width: 100%;

  .card-section {
    // @include flex-row(nowrap, space-between, center);
    @include grid(
      2,
      10px,
      (
        1440: 2,
        1000: 1,
      )
    );
    gap: $XsSize3;
    width: 100%;
  }
}
