@import '../../variables';
@import '../../mixins/flex';

.empty-zones-equipment {
  @include flex-row(nowrap, space-between, center);
  width: 100%;
  font-family: 'Regular';
  border: 1px solid #f4f4f4;
  border-radius: $XlSize2;
  padding: $XsSize3;
  margin-block: 12px;

  .empty-zones-equipment-container {
    @include flex-row(nowrap, flex-start, center);
    gap: 10px;
    img {
      width: 38px;
      height: 38px;
    }
    .header {
      @include flex-column(nowrap, flex-start, flex-start);

      .title {
        color: #000061;
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
      }
      .description {
        color: #9da4b2;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;

        span {
          color: #121212;
        }
      }
    }
  }
  .content {
    @include flex-row(nowrap, flex-start, center);
    .content-btn {
      background-color: #fafbfc;
      padding: $XsSize $XlSize2;
      border-radius: $SmSize;
    }
  }
}
