@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.teams-locations {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize;
  width: 100%;
  .p-accordionheader {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
  }
  .location-container {
    width: 100%;
    @include flex-row(wrap, space-between, center);

    .location {
      position: relative;
      width: 100%;
      margin-block: $MdSize;
      .arrow-accord {
        svg {
          rotate: -90deg;
        }
      }
      &::after {
        content: '';
        position: absolute;
        right: -8px;
        top: 50%;
        transform: translateY(-80%);
        width: $XsSize;
        height: $XsSize;
        background-color: #1d4ed81a;
        rotate: 45deg;
        z-index: 999;
      }
      &::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-80%);
        width: $XsSize;
        height: $XsSize;
        background-color: #1d4ed81a;
        rotate: 45deg;
      }
      .location-hr {
        width: 100%;
        border: none;
        height: 2px;
        background-color: #1d4ed81a;
      }
      .location-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $PrimaryColor;
        z-index: 999;
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
      }
    }
  }

  .teams {
    @include grid(
      2,
      20px,
      (
        1440px: 2,
        1000px: 2,
        768px: 1,
      )
    );
    // @include flex-row(wrap, space-between, flex-start);
    width: 100%;
  }

  .empty-teams {
    text-align: center;
    padding-bottom: $XsSize2;
    font-size: 24px;
    margin: auto;
  }
}

.p-icon.p-accordionheader-toggle-icon {
  display: none !important;
}
.p-accordionheader,
.p-accordioncontent,
.p-accordioncontent-content {
  border: none !important;
}

.p-accordion {
  div:not(.location-container) {
    border: none !important;
  }
  div.member-card {
    border: 1px solid #f9f9f9 !important;
    margin-inline: 12px;
  }

  div.project-equipment-card {
    border: 1px solid #f6f6f6 !important;
    margin-inline: 12px;
  }
}

.p-accordion {
  .location-container {
    border-bottom: 2px dashed #dce3ef;
    padding-bottom: $XsSize;

    .arrow-accord {
      padding-top: 5px;
    }

    .location-title {
      color: #121212;
      font-size: $XlSize;
      font-weight: $BaseFontWeightBold;
    }
  }

  .location-info-statics {
    @include flex-row(nowrap, flex-start, center);

    gap: $XsSize2;

    p {
      color: #202020;
      font-size: $XsSize;
      font-weight: $BaseFontMediumWeight;

      span {
        color: #6b7280;
      }
    }
  }

  .all-employees,
  .teams-container {
    background-color: #ffffff;
    padding: $XsSize;
    border-radius: $SmSize;
    width: 100%;
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize3;
    margin-block: $XlSize3;
    &.equipment {
      padding: 0;
    }
    .all-employees-header-container {
      width: 100%;
      @include flex-row(nowrap, space-between, center);
      background-color: #fcfcfc;
      border-radius: $XsSize;
      padding: $XsSize;
      .icon {
        width: 50px;
        height: 50px;
      }

      .all-employees-header {
        @include flex-column(nowrap, flex-start, flex-start);
        width: 100%;

        .employee {
          color: $PrimaryColor;
        }

        .employee-count {
          color: #6b7280;
          font-size: $XsSize;
          font-weight: $BaseFontMediumWeight;
        }
      }

      .all-employees-view {
        color: #121212;
        font-size: $SmSize;
        font-weight: $BaseFontWeightBold;
        text-decoration: underline;
        cursor: pointer;
        font-family: 'Regular';
      }
    }
    .team-members {
      width: 100%;
      @include flex-row(nowrap, flex-start, flex-start);
      overflow-x: auto;
      .member-card {
        border: 1px solid #fafafa;
      }
    }
    .teams-container {
      width: 100%;
    }
    .teams {
      width: 100%;
      @include flex-row(nowrap, flex-start, flex-start);
      overflow-x: auto;
    }
    .project-equipment-card-container {
      @include grid(
        2,
        10px,
        (
          1000px: 1,
        )
      );

      // background-color: #fafafa;
      // overflow-x: auto;
      padding-right: 30px;
      width: 100%;
    }
  }
}

.p-accordioncontent-content {
  padding: 0 !important;
}
