@use '../../variables' as *;
@use '../../mixins/flex' as *;

.locations-teams {
  background-color: var(--surface-1);
  padding: $MdSize $MdSize $XlSize3 $MdSize;
  border-radius: $XlSize;
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize;
  width: 100%;
  .locations-teams-header {
    @include flex-row(nowrap, space-between, center);
    gap: $XsSize3;
    width: 100%;
    background-color: var(--surface-1);

    .show-all {
      color: var(--brand-primary-700);
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      text-decoration: underline;
    }
  }

  .locations-sections {
    width: 100%;
    background-color: var(--surface-1);
    .p-accordion {
      border-radius: $XlSize !important;
      padding: $XsSize $XsSize4;
      background-color: var(--surface-1);
      margin-block: $XsSize;
    }
  }

  @media (max-width: 640px) {
    gap: $SmSize;
    padding: $SmSize;

    .locations-teams-header {
      align-items: flex-start;
      flex-direction: column;

      .show-all {
        min-width: 0;
        font-size: $SmSize;
      }
    }

    .locations-sections {
      .p-accordion {
        padding: 0;
      }
    }
  }
}
