@import '../../variables';
@import '../../mixins/flex';

.locations-teams {
  background-color: white;
  padding: $MdSize $MdSize $XlSize3 $MdSize;
  border-radius: $XlSize;
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XlSize;
  width: 100%;
  .locations-teams-header {
    @include flex-row(nowrap, space-between, center);
    gap: $XsSize3;
    width: 100%;
    background-color: white;

    .show-all {
      color: #3d4c5e;
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      text-decoration: underline;
    }
  }

  .locations-sections {
    width: 100%;
    background-color: #fcfcfc;
  }
}
