@use '../../variables' as *;
@use '../../mixins/flex' as *;

.member-card {
  @include flex-row(nowrap, flex-start, center);
  // width: 100%;
  gap: $XsSize3;
  font-family: 'Regular';
  margin-top: $XsSize2;
  border-radius: $MdSize;
  border: 1px solid var(--surface-1);
  position: relative;
  min-width: 200px;
  padding: $XsSize;

  &.employee-card {
    background-color: var(--surface-1);
    width: 25%;
    padding: 10px;
    @media (max-width: 1000px) {
      width: 50%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .member-img {
    width: 40px;
    height: 40px;
  }
  .card-delete {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }

  .member-data {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize4;
    width: 100%;
    .name {
      color: var(--brand-primary-900);
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      text-decoration: underline;
    }
    .position {
      color: var(--text-soft);
      font-size: $SmSize;
      font-weight: $BaseFontMediumWeight;
    }
  }
}
