@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/border" as *;

.personal-data {


  .profile-card {
    margin-block: calc(#{$XlSize3} + 10px) calc(#{$XlSize3} + 2px);
    @include border($BaseBorderWidth, $TextGray6, solid, $MdSize);
    //border-radius: $XlSize3

    > div {
      //margin-block: $XsSize3;
      @include border-bottom($BaseBorderWidth, $TextGray6, solid);
      padding: $XlSize2;

    }

    .profile-card-item, .update-profile-form {
      @include flex-justify(row, nowrap, center);

      .profile-card-item-title {

      }

    }


    .update-profile-form {
      width: 100%;
      gap: $XlSize;
    }
  }


}