@use "../variables" as *;
@use "../mixins/flex" as *;

.user-photo {
  @include flex-align();
  gap: $MdSize;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .btn-primary {
    text-wrap: nowrap;
  }
  .img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;

    }
  }

  .img-passport {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }

  .upload {
    @include flex-column();
    gap: $MdSize;
    //gap: 1rem;
    transition: $TransitionSlow;

    .actions {
      @include flex-align();
      gap: 1rem;
      @media screen and (max-width: 768px) {
        @include flex-column();
      }
    }
  }
}