@import '../../../variables';
@import '../../../mixins/flex';
@import '../../../mixins/grid';

.another-meeting {
  width: 100%;
  @include flex-column(nowrap, flex-start, flex-start);
  background-color: #fbfbfb;
  padding: $MdSize2 $MdSize;
  border-radius: calc($XlSize + 2px);
  margin-top: $MdSize;
  .title-header {
    background-color: #fbfbfb !important;
  }

  .another-meeting-contect {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    gap: $XsSize;
    .input-wrapper {
      width: 100%;
    }
  }
}
