@import '../../../variables';
@import '../../../mixins/flex';
@import '../../../mixins/grid';

.add-attachment-btn {
  @include flex-row(nowrap, center, center);
  gap: $XsSize3;
  width: 100%;
  border: 1px dashed #f1f3f5;
  padding: $XlSize;
  border-radius: $XlSize;
  span {
    // width: 100%;
    color: #9ca3af;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
  }
}

.investegation-attachment-dialog-content {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: 5px;
  .attch-hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: #f1f3f5;
  }
  .input-wrapper {
    width: 100%;
    margin-top: 12px;
  }

  .file-upload {
    .input-image {
      border: 1px dashed #9ca3af9c;
    }
    margin-block: 12px;
  }
}
