@use '../../../variables' as *;
@use '../../../mixins/flex' as *;
@use '../../../mixins/grid' as *;

.add-attachment-btn {
  @include flex-row(nowrap, center, center);
  gap: $XsSize3;
  width: 100%;
  border: 1px dashed var(--brand-primary-50);
  padding: $XlSize;
  border-radius: $XlSize;
  span {
    // width: 100%;
    color: var(--text-soft);
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
  }
}

.investegation-attachment-dialog-content {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: 5px;
  .attch-hr {
    border: none;
    height: 2px;
    width: 100%;
    background-color: var(--brand-primary-50);
  }
  .input-wrapper {
    width: 100%;
    margin-top: 12px;
  }

  .file-upload {
    .input-image {
      border: 1px dashed color-mix(in srgb, var(--text-soft) 61.18%, transparent);
    }
    margin-block: 12px;
  }
}
