@import '../../../variables';
@import '../../../mixins/flex';
@import '../../../mixins/grid';

.cause-of-accidant {
  width: 100%;
  @include flex-column(nowrap, flex-start, flex-start);
  // gap: $XsSize2;
  .cause-of-accidant-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $SmSize;

    width: 100%;
    .input-wrapper {
      width: 100%;
    }
  }
}
