@use '../../../variables' as *;
@use '../../../mixins/flex' as *;
@use '../../../mixins/grid' as *;

.cause-of-accidant {
  width: 100%;
  @include flex-column(nowrap, flex-start, flex-start);
  // gap: $XsSize2;
  .cause-of-accidant-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $SmSize;
    padding-inline: 12px;
    width: 100%;
    .input-wrapper {
      width: 100%;
    }
  }
}
