@use '../mixins/grid' as *;
@use '../mixins/flex' as *;
@use '../variables' as *;

.all-observation {
  .cards {
    @include grid(4, $SmSize);
    margin-top: $XlSize2;
    @media screen and (max-width: 800px) {
      @include grid(1, $SmSize);
    }

    .card {
      background-color: #fafafacc;
      padding: $XsSize $XlSize;
      border-radius: $XlSize2;
      overflow: hidden;
      @include flex(row, wrap, flex-start, center);
      gap: 12px;
      position: relative;
      &:hover {
        .card-options {
          right: 0;
        }
      }

      .card-options {
        @include flex-row(nowrap, flex-start, center);
        gap: $XsSize3;
        width: 100%;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: -100%;
        background-color: #fafafa;
        transition: 0.3s all linear;
        a {
          width: 50%;
        }
      }

      .card-header {
        @include flex(row, wrap, space-between, center);
        margin-bottom: $MdSize;

        .info {
          @include flex-row();
          gap: $XsSize;

          .image {
            width: $XlSize3;
            height: $XlSize4;

            img {
              padding-top: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .card-content {
          @include flex-column(nowrap, flex-start, flex-start);
        }

        .card-header-item {
          @include flex(row, wrap, center, center);
          gap: $XsSize3;
          color: $PrimaryColor;
          text-decoration: underline;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          span {
            font-size: $SmSize;
            color: $PrimaryColor;
          }

          p {
            font-size: $SmSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: $PrimaryColor;
          }
        }
      }

      .card-body {
        @include flex(row, wrap);
        gap: $XsSize4;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .description {
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
          color: #cbcbcb;
        }
        .link {
          @include flex(row, wrap, center, center);
          gap: $XsSize3;
          color: $PrimaryColor;
          text-decoration: underline;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          span {
            font-size: $SmSize;
            color: $PrimaryColor;
          }

          p {
            font-size: $SmSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: $PrimaryColor;
          }
        }
      }
    }
  }
  .description {
    font-size: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    color: #cbcbcb;
  }
  .card-header-title {
    font-size: $XlSize2;
    font-weight: $BaseFontSemiBoldWeight;
    color: #000000;
  }
}
