@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.hazard-type-container {
  margin-top: 3rem;

  .radio-container {
    margin-top: 1.5rem;
  }
  .answer {
    @include flex-row(nowrap, center, center);
    gap: 1rem;
    .answer .p-radiobutton {
      margin-right: 10px !important;
    }
    label {
      color: #3d4c5e;
      font-size: $SmSize;
      font-weight: $BaseFontSemiBoldWeight;
    }
  }
  label.radio-title {
    font-weight: $BaseFontWeightBold !important;
    font-size: $MdSize !important;
    color: #202020 !important;
    display: block;
    margin-bottom: 0.5rem;
  }

  .radio-answers {
    display: flex;
    gap: 2rem;

    .radio-selection {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
      padding: 1rem 1rem;
      border-radius: 8px;
      transition: all 0.2s linear;
      opacity: 0.6;

      &.selected {
        opacity: 1;
      }

      &:hover {
        border: 1px solid $PrimaryColor;
      }

      &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
      }
    }

    .p-radiobutton-checked .p-radiobutton-box {
      border-color: $PrimaryColor !important;
      background-color: $PrimaryColor !important;
    }
    .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
      border-color: $PrimaryColor !important;
      background-color: $PrimaryColor !important;
    }
    .radio-selection {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .radio-answers {
      display: flex;
      gap: 2rem;
    }

    ::v-deep(.p-radiobutton) {
      margin-right: 1rem;
    }
  }
}
