@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.hazard-type-container {
  margin-top: 3rem;
  .radio-container {
    margin-top: 1.5rem;
    .radio-title {
      font-weight: $BaseFontWeightBold !important;
      font-size: $MdSize !important;
      color: #202020 !important;
    }
  }
}
