@use './tabs';
@use './observation';
@use './observation_level';
@use './observation_container';
@use './hazerd_type';
@use './all_observation';
@use './show_observation';
@use './show_observation_card';
@use './ShowObservationFactory/show_observation_factory._imports';
