@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.observation-level {
  margin-top: 3rem;

  .select-container {
    font-family: 'Regular';
    border-radius: 20px;
    transition: all 0.1s linear;
    cursor: pointer;
    position: relative;

    &.low-selected {
      border: 2px solid #00b69b;
      background-color: rgba($LowColor, 0.05); // باكجراوند خفيف للـ Low
      .circle {
        background-color: $LowColor;
      }
      .details-box {
        border-color: rgba($LowColor, 0.5);
        .status-value {
          color: $LowColor;
        }
      }
    }

    &.medium-selected {
      border: 2px solid $MediumColor;
      background-color: rgba($MediumColor, 0.05); // باكجراوند خفيف للـ Medium
      .circle {
        background-color: $MediumColor;
      }
      .details-box {
        border-color: rgba($MediumColor, 0.4);
        .status-value {
          color: $MediumColor;
        }
      }
    }

    &.high-selected {
      border: 2px solid $HighColor;
      background-color: rgba($HighColor, 0.05); // باكجراوند خفيف للـ High
      .circle {
        background-color: $HighColor;
      }
      .details-box {
        border-color: rgba($HighColor, 0.4);
        .status-value {
          color: $HighColor;
        }
      }
    }

    label {
      @include flex-row(wrap, flex-start, center);
      gap: 10px;
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      color: #9ca3af;
      background-color: transparent;
      padding: 20px 16px;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      outline: none;
    }

    &.low-selected {
      label {
        color: #00b69b;
      }
      border: 2px solid #00b69b;
      // background-color: rgba(255, 191, 82, 0.1);
      .circle {
        background-color: #00b69b;
      }
      .details-box {
        border-color: rgba($LowColor, 0.4);
        .status-value {
          color: #00b69b;
        }
      }
    }
    &.medium-selected {
      label {
        color: #dd9230;
      }
      border: 2px solid #dd9230;
      // background-color: rgba(255, 191, 82, 0.1);
      .circle {
        background-color: #dd9230;
      }
      .details-box {
        border-color: rgba(#dd9230, 0.4);
        .status-value {
          color: #dd9230;
        }
      }
    }

    &.high-selected {
      label {
        color: $HighColor;
      }
      border: 2px solid $HighColor;
      // background-color: rgba(255, 191, 82, 0.1);
      .circle {
        background-color: $HighColor;
      }
      .details-box {
        border-color: rgba($HighColor, 0.4);
        .status-value {
          color: $HighColor;
        }
      }
    }

    input {
      display: none;
    }

    .p-multiselect {
      background: unset !important;
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      width: 100%;
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
    }

    .details-box {
      border: 1px solid rgba($PrimaryColor, 0.4);
      padding: 12px 18px;
      border-radius: 12px;
      margin-top: 5px;

      .title {
        font-size: $MdSize;
        font-weight: $BaseFontWeightBold;
        color: #ffbf52;
        margin-bottom: 8px;
      }

      .status-label {
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
        color: #9da4b2;
      }

      .status-container {
        @include flex-row(nowrap, flex-start, space-between);
        gap: 10px;

        .status-option {
          @include flex-row(wrap, flex-start, center);
          gap: 5px;
          cursor: pointer;
          background: none !important;
          padding: 0 !important;
          border-radius: 0 !important;

          input {
            display: none;
            background-color: unset;
          }

          .status-value,
          .status-values {
            background: none !important;
            font-size: $MdSize;
            margin-top: 4px;
            font-weight: $BaseFontMediumWeight;
            color: #9da4b2;
            padding: 5px 10px;
            border-radius: 0;
            transition: all 0.2s;
          }

          input:checked + .status-value,
          input:checked + .status-values {
            color: $MediumColor;
            text-decoration: underline;
          }
        }
      }
    }

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .status-container {
    @include flex-row(nowrap, flex-start, space-between);
    gap: 10px;
  }
}
