@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.show-observation-container {
  .observation-card {
    margin-top: 15px;
    @include flex-column(nowrap, flex-end, flex-end);
    padding-bottom: $XsSize;
    width: 100%;
    gap: $XsSize;
    background-color: #ffffff;
    padding: 10px;
    // border: 1px solid #f6f6f6;
    // background: linear-gradient( to right, #E8D5B5 0%,#1D4ED8 10%,white 100%);
    border-radius: 12px;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 200px;
      height: 15px;
      background-color: #1d4fd85e;
      opacity: 0.1;
      border-radius: $XsSize;
    }
      &::before{
      position: absolute;
      content: '';
      // top: 0;
      left: 0;
      width: 15px;
      height: 100%;
      background-color: #E8D5B5;
      opacity: 0.1;
      border-radius: $XsSize;
    }
    &.show {
      border-bottom: none;
    }
    .header-container {
      @include flex-row(nowrap, space-between, flex-start);
      width: 100%;
      gap: $XsSize4;
      font-family: 'Regular';

      .card-content {
        @include flex-column(nowrap, flex-start, flex-start);
        gap: $XsSize4;
        .title_observation {
          .observation-title {
            color: var(--second-dark-color);
            font-size: $XlSize2;
            font-weight: $BaseFontWeightBold;
              margin-bottom: $XsSize;
          }
          .Description {
            color: #aab1bd;
            font-size: $MdSize;
            font-weight: $BaseFontMediumWeight;
          }
        }

        .card-header {
          @include flex-row(nowrap, flex-start, center);
          gap: $XlSize4;
          margin-top: $XsSize;
          .label-item-secondary,
          .label-item-primary {
            span {
              font-family: 'Regular';
              font-weight: $BaseFontSemiBoldWeight;
            }
          }
        }
        .label-employee {
          color: #aeaeb2;
          font-size: $SmSize;
          font-weight: $BaseFontWeightBold;
          span {
            border-bottom: 1px solid #1f41bb;
            color: #1f41bb;
          }
        }

        .card-details {
          @include flex-column(nowrap, flex-start, flex-start);
          gap: $XsSize4;

          .title {
            color: #0f1927;
            font-size: $MdSize;
            font-weight: $BaseFontSemiBoldWeight;
            span {
              color: #c7c7cc;
              font-size: $SmSize;
              font-weight: $BaseFontMediumWeight;
              font-family: 'Regular';
            }
          }
          .subtitle {
            color: #9ca3af;
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
          }
          .project-details {
            @include flex-row(nowrap, flex-start, center);
            gap: $XlSize4;
          }
        }
      }
      .observer-container {
        @include flex-column(nowrap, flex-start, center);
        gap: $XsSize4;
        background-color: #d0d0d00f;
        padding: $MdSize2;
        border-radius: $XsSize;
        .title {
          color: #0f1927;
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
          text-decoration: underline;
        }
        .observer {
          color: #9ca3af;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
        }
      }

      .card-info {
        @include flex-column(nowrap, flex-start, center);
        gap: 6px;

        .title {
          color: $PrimaryColor;
          font-size: $SmSize;
          font-weight: $BaseFontWeightBold;
        }
        .observation-risk-level {
          font-weight: 700;
          font-size: 16px;
          &.Low {
            color: $PrimaryColor;
          }
          &.Medium {
            color: #ffbf52;
          }
          &.High {
            color: #e23535;
          }
        }
        .p-image,
        img {
          object-fit: cover;
          width: clamp(calc(90 * 0.8px), calc(90 * 100vw / var(--base-width)), calc(90 * 1.2px));
          height: clamp(calc(65 * 0.8px), calc(65 * 100vw / var(--base-width)), calc(65 * 1.2px));
          aspect-ratio: 16/9;
          border-radius: 12px;

          .p-image-preview-mask {
            border-radius: 12px;
            display: block;
            opacity: 1;
            background: #00000069;
            backdrop-filter: blur(1px);
          }
          img {
            border-radius: 12px;
          }
          .perview {
            @include flex-center();
            gap: 5px;

            span {
              color: white;
              font-size: $SmSize;
              font-weight: $BaseFontSemiBoldWeight;

            }
          }
        }
      }
      .card-info-status {
        background: $greenDone;
        color: #4caf50;
        padding: $XsSize $XlSize3;
        border-radius: $XlSize2;
        font-weight: $BaseFontWeightBold;
        font-size: $MdSize;
      }
      .card_status {
        background-color: #d8002708;
        padding: $XlSize $XlSize4 $XlSize $SmSize;
        border-radius: $SmSize;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: 35px;
          height: 35px;
          border-radius: 50%;
          top: 0;
          right: 0;
          background-color: #f833571c;
        }
        &::before {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          border-radius: 50%;
          top: 33px;
          right: 0;
          background-color: #f833571c;
        }
        p {
          color: #ceb9c3;
          font-size: $SmSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
        h6 {
          color: #d80027;
          font-size: $MdSize2;
          font-weight: $BaseFontWeightBold;
        }
      }
    }
  }

  .label-item-secondary,
  .label-item-primary {
    span {
      font-family: 'Regular';
      font-weight: $BaseFontSemiBoldWeight;
    }
  }

  .label-item-primary {
    color: #aeaeb2;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
    span {
      color: $PrimaryColor;
      font-family: 'Regular';
      font-weight: $BaseFontSemiBoldWeight;
    }
  }
  .label-item-secondary {
    color: #aeaeb2;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
    span {
      color: #000000;
      font-family: 'Regular';
      font-weight: $BaseFontSemiBoldWeight;
    }
  }
}

.observation-dwspcription-more {
  width: 100%;
  @include flex-row-reverse(nowrap, space-between, center);
  .show-more {
    @include flex-row(nowrap, flex-end, center);
    gap: 4px;
    padding-top: $XsSize2;
    transition: all 0.3s ease-in-out;
    text-align: end;
    cursor: pointer;
    span {
      color: #9ca3af;
      font-size: $SmSize;
      font-weight: $BaseFontMediumWeight;
    }
  }
  .card-description {
    padding-top: $XsSize2;
    @include flex-column(nowrap, flex-start, flex-start);
    // gap: $MdSize;
    .title {
      color: #000000;
      font-size: $SmSize;
      font-weight: $BaseFontSemiBoldWeight;
    }
    .description {
      color: #8e8e93;
      font-size: $SmSize;
      font-weight: $BaseFontMediumWeight;
    }
  }
}
