@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.show-observation-container {
  background-color: #d0d0d00f;
  padding: $XsSize2;

  .observation-type-container {
    background-color: white;
    padding: 10px;
    margin-block: 10px;

    .observation-type-title {
      margin-top: $XsSize;
      color: #32353d;
      font-size: $MdSize2;
      font-weight: $BaseFontWeightBold;
      background-color: #fcfcfc;
      border-radius: 12px;
      width: 100%;
      text-align: center;
      padding: $XsSize $XlSize2;
    }
    .observation-genral-info-conatiner {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: $XsSize;
      width: 100%;
      border-bottom: 1px dashed #efefef;
      padding: $XsSize;
      .observation-genral-info {
        width: 100%;
        @include flex-row(nowrap, space-between, center);
        .like_lihood-container {
          color: #b3b4b7;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          .like_lihood-title {
          }
          .like_lihood {
            color: #32353d;
            font-weight: $BaseFontSemiBoldWeight;
            font-size: $MdSize;
            position: relative;
            padding-left: $SmSize;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0px;
              width: 5px;
              height: 5px;
              background-color: #32353d;
              border-radius: 50%;
            }
          }
        }
        .severity-container {
          color: #b3b4b7;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          .severity {
            color: #32353d;
            font-weight: $BaseFontSemiBoldWeight;
            font-size: $MdSize;
            position: relative;
            padding-left: $SmSize;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0px;
              width: 5px;
              height: 5px;
              background-color: #32353d;
              border-radius: 50%;
            }
          }
        }
        .observation-type {
          color: #b3b4b7;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;

          span {
            color: #32353d;
            font-weight: $BaseFontSemiBoldWeight;
            font-size: $MdSize;
            position: relative;
          }
        }

        .root-causes {
          @include flex-column(nowrap, flex-start, flex-start);
          gap: $XsSize;
          .root-causes-title {
            color: $PrimaryColor;
            font-weight: $BaseFontWeightBold;
            font-size: $SmSize;
            position: relative;
          }
          .root-causes-content {
            @include flex-row(nowrap, flex-start, flex-start);
            gap: $XlSize3;
            .root-title {
              color: #5e5e5e;
              font-weight: $BaseFontMediumWeight;
              font-size: $SmSize;
              position: relative;
              padding-left: $SmSize;
              &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0px;
                width: 5px;
                height: 5px;
                background-color: #5e5e5e;
                border-radius: 50%;
              }
            }
          }
        }

        .observation-risk-level {
          font-weight: 700;
          font-size: 16px;

          &.Low {
            color: $PrimaryColor;
          }
          &.Medium {
            color: #ffbf52;
          }
          &.High {
            color: #e23535;
          }
        }
        img {
          width: 50px;
          height: 50px;
        }
      }
      .hazard-info {
        .severity-container {
          color: #b3b4b7;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          .severity {
            color: #32353d;
            font-weight: $BaseFontSemiBoldWeight;
            font-size: $MdSize;
            position: relative;
            padding-left: $SmSize;
            &::before {
              content: '';
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0px;
              width: 5px;
              height: 5px;
              background-color: #32353d;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .injury-header-container {
    @include flex-column(nowrap, flex-start, flex-start);
    margin-top: $SmSize;
    background-color: white;
    border-radius: $XsSize;
    padding: $MdSize2;
    gap: $XsSize2;
    .death-header-employees {
      border-bottom: 1px dashed #efefef;
      padding: 10px;
    }
    .injury-header {
      width: 100%;
      @include flex-row(nowrap, space-between, center);
      border-bottom: 1px dashed #efefef;
      padding: 10px;
      .injury-header-info {
        @include flex-row(nowrap, flex-start, center);

        gap: $XsSize;
        p {
          color: #202020;
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      .injury-header-employees {
        color: #0f1927;
        border: 1px solid #f9f9f9;
        padding: $XsSize2;
        border-radius: $XsSize;
        font-weight: $BaseFontWeightBold;
        font-size: $MdSize;
      }
      .death-header-employees {
        .employee-name {
          color: #0f1927;
          font-weight: $BaseFontWeightBold;
          font-size: $MdSize;
          text-decoration: underline;
        }
        .employee-hierarchy {
          color: #9ca3af;
          font-weight: $BaseFontMediumWeight;
          font-size: $SmSize;
        }
      }
    }
    .witnessStatement-container {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: $SmSize;

      .witnessStatement {
        @include flex-row(nowrap, flex-start, center);
        gap: $XsSize;
        .employee-name {
          color: #0f1927;
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
          text-decoration: underline;
        }
        .employee-note {
          color: #9ca3af;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
        }
      }
    }
    .note {
      color: #404248;
      font-size: $MdSize2;
      font-weight: $BaseFontSemiBoldWeight;
    }
    .death-container {
      @include flex-row(nowrap, space-between, center);
      .death-note {
        color: #9ca3af;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
      }
    }
  }

  .observation-inspection-card {
    @include flex-column(nowrap, flex-start, flex-start);
    margin-top: $SmSize;
    background-color: white;
    border-radius: $XsSize;
    padding: $MdSize2;
    gap: $XsSize2;
    width: 100%;
    .observation-inspection-card-header {
      width: 100%;
      @include flex-row(nowrap, space-between, center);
      border-bottom: 1px dashed #efefef;
      padding: $XsSize;
      font-family: 'Regular';
      .inspection-name {
        color: #32353d;
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
      }
      .inspection-auto {
        color: $PrimaryColor;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
    .observation-inspection-card-content {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: $XsSize4;
      .question-title {
        font-family: 'Light';
        color: #5e5e5e;
        font-size: calc($SmSize + 1px);
        font-weight: $BaseFontMediumWeight;
        padding-left: 14px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0px;
          width: 5px;
          height: 100%;
          padding: 3px;

          background-color: #1f41bb1a;
          border-radius: 3px;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 1px;
          width: 4px;
          height: 80%;
          background-color: #1f41bb66;
          border-radius: 3px;
        }
      }
      .answers-choose {
        @include flex-row(nowrap, flex-start, center);
        gap: $XsSize4;
        .choose {
          background-color: #4caf500a;
          color: #4caf50;
          font-size: $SmSize;
          font-weight: $BaseFontWeightBold;
          border-radius: calc($XsSize2 + 1px);
          padding: $XsSize4 $XlSize2;
        }
      }
      .text-area {
        width: 100%;
        background-color: #fbfbfb;
        padding: $XsSize3;
        @include flex-column(nowrap, flex-start, flex-start);
        gap: $XsSize4;
        border-radius: $XsSize3;
        .typing-text {
          color: #121212;
          font-size: $SmSize;
          font-weight: $BaseFontWeightBold;
        }
        .text {
          color: #5e5e5e;
          font-size: calc($SmSize + 1px);
          font-weight: $BaseFontMediumWeight;
        }
      }
    }
  }
  .capa-header-container {
    @include flex-column(nowrap, flex-start, flex-start);
    margin-top: $SmSize;
    background-color: white;
    border-radius: $XsSize;
    padding: $MdSize2;
    gap: $XsSize2;
    width: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #1d4ed81a;
    }
    .capa-title {
      color: $PrimaryColor;
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      text-align: center;
      width: 100%;
      background-color: white;
    }
  }
  .capa-content-container {
    @include flex-column(nowrap, flex-start, flex-start);
    margin-top: $SmSize;
    background-color: white;
    border-radius: $XsSize;
    padding: $MdSize2;
    gap: $XsSize2;
    width: 100%;
    .capa-content-title {
      width: 100%;
      text-align: center;
      color: #515253;
      font-size: $MdSize2;
      font-weight: $BaseFontWeightBold;
      span {
        color: #868c9a;
        font-size: $MdSize;
        font-weight: $BaseFontWeightBold;
      }
    }
    img {
      @include flex-row(nowrap, center, center);
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    .capa-actions-container {
      width: 100%;
      @include flex-row(nowrap, space-between, center);
      gap: $XsSize;
      .capa-action {
        @include flex-column(nowrap, center, center);
        gap: $XsSize2;
        width: 50%;
        border: 1px solid #f4971e33;
        border-radius: $XsSize2;
        padding: $XsSize3;
        &.preventive {
          border: 1px solid #6cb76533;
          .capa-action-title {
            color: #6cb765;
          }
          .corrective-button {
            background-color: #6cb7650d;
            border: 1px solid #6cb765;
            color: #6cb765;
            &:hover {
              background-color: #6cb765;
              color: white;
            }
          }
        }
        .capa-action-title {
          color: #f4971e;
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
        }
        .corrective-textarea {
          color: #515253;
          font-size: $MdSize2;
          font-weight: $BaseFontWeightBold;
          width: 100%;
          border: 1px solid #f7f7f7;
          border-radius: $XsSize2;
          padding: $XsSize2;

          &:focus {
            border: 1px solid #f7f7f7 !important;
          }
          &:active {
            border: 1px solid #f7f7f7 !important;
          }

          &::placeholder {
            color: #c5ccd8;
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
          }
        }
        .corrective-button {
          color: #f4971e;
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
          background-color: #f4971e0d;
          border: 1px solid #f4971e;
          border-radius: $XsSize2;
          padding: $XsSize4;
          width: 100%;
          margin: auto;
          transition: 0.3s all linear;
          &:hover {
            background-color: #f4971e;
            color: white;
          }
        }
        .corrective-text {
          color: #3c3c3c;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          text-align: center;
        }
      }
    }
  }

  .observation-genral-info {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    border-bottom: 1px dashed #efefef;
    padding: $XsSize;
    .like_lihood {
      color: #32353d;
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      position: relative;
      padding-left: $SmSize;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 5px;
        height: 5px;
        background-color: #32353d;
        border-radius: 50%;
      }
    }
    .severity {
      color: #32353d;
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      position: relative;
      padding-left: $SmSize;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
        width: 5px;
        height: 5px;
        background-color: #32353d;
        border-radius: 50%;
      }
    }
    .observation-risk-level {
      font-weight: 700;
      font-size: 16px;

      &.Low {
        color: $PrimaryColor;
      }
      &.Medium {
        color: #ffbf52;
      }
      &.High {
        color: #e23535;
      }
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .take-action-container {
    width: 100%;
    padding: $XsSize;

    @include flex-row(nowrap, space-between, center);
    .action-container {
      margin-top: $XsSize2;
      @include flex-row(nowrap, flex-start, center);
      gap: $XsSize;
      .emp-text {
        color: #32353d;
        font-size: $MdSize2;
        font-weight: $BaseFontSemiBoldWeight;
      }
      .action-text {
        color: #8b8d91;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
  }
}
