@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.observation-form {
  .tabs-div {
    .tabs-title {
      @include flex-row(wrap, space-between, center);

      p {
        font-family: var(--font-family);
        font-weight: $BaseFontWeightBold;
        font-size: $XlSize;
        color: $ThirdColor;
      }
      .line {
        span {
          font-weight: $BaseFontMediumWeight;
          font-size: $MdSize;
          color: var(--text-muted);
        }
        p {
          color: var(--brand-primary-600);
          font-family: var(--font-family);
          font-weight: $BaseFontWeightBold;
          font-size: $XlSize;
        }
      }
    }
  }
  .tabs-container {
    @include grid(5, 10px);
    width: 100%;
    margin: $XlSize 0 $XlSize 0;
    padding-inline: $MdSize;

    .tab {
      text-align: center;
      width: 100%;
      background-color: var(--text-on-brand);
      border-radius: $XlSize;
      color: var(--text-soft);
      font-weight: $BaseFontSemiBoldWeight;
      text-transform: capitalize;
      cursor: pointer;
      padding: $MdSize;
      transition: all 0.3s ease-in-out;
    }

    .activeTab {
      background-color: var(--brand-primary-50);
      border: 2px var(--brand-primary-500);
      color: var(--PrimaryColor);
    }

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;

      .tab {
        width: 100%;
      }
    }
    @media (max-width: 425px) {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;

      .tab {
        width: 100%;
      }
    }
  }
}
