@use "../../variables" as *;
@use "../../mixins/flex" as *;

.hero-section-search {
  background-color: $PrimaryColor;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("~/assets/images/hotel-header.png") repeat top;
    opacity: 0.1; /* Adjust value (0 = fully transparent, 1 = fully opaque) */
  }
  min-height: clamp(
    calc(170 * 0.8px),
    calc(170 * 100vw / var(--base-width)),
    calc(170 * 1.2px)
  );
  .container {
    @include flex-center();
    position: relative;
    .filter {
      position: absolute;
      left: 50%;
      top: calc(100% + calc(#{$XlSize} * 3));
      transform: translateX(-50%);
      .inputs {
        padding-top: $XlSize;
      }
    }
  }
}
