@use "../../variables" as *;
@use "../../mixins/border" as *;
@use "../../mixins/flex" as *;

.hotel-filter-icons {
  grid-column: span 4;
  grid-row: 1;
  text-align: center;
  @include flex-align();
  gap: $XsSize2;

  .filter-icon-container {
    @include flex-row(nowrap, center, center);
    gap: $XsSize2;
    padding: calc($XsSize2 - 1px) $XsSize2;
    @include border($BaseBorderWidth, $TextGray4, solid, $XlSize3);
    text-transform: capitalize;

    &.trash-icon-container {
      border-color: $GoldColor;
      .filter-title {
        color: $GoldColor;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        text-transform: capitalize;
      }
    }

    .arrow-icon {
      width: $MdSize;
      height: $MdSize;
    }

    .sort {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-align: center;
      padding: 0;
      border: none;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .sort::-ms-expand {
      display: none;
    }

    .filter-title {
      color: $SecondaryColor;
      font-size: $SmSize;
      font-weight: $BaseFontMediumWeight;
    }

    .close-icon {
      width: 20px;
      height: 20px;
      background-color: $TextGray6;
      padding: calc($XsSize4 - 1px);
      border-radius: $XsSize2;
      path {
        fill: white;
      }
    }
  }
}
