@use '../variables' as *;
@use '../mixins/flex' as *;

.action-list-trigger {
  background-color: #1d4ed80d;
  padding: $MdSize;
  border-radius: calc($XlSize2 + 4px);
  width: 250px;
  cursor: pointer;
  @include flex-row(nowrap, space-between, center);
  .action-icon {
    color: #1f41bb;
    font-size: $MdSize;
    font-weight: $BaseFontWeightBold;
    span {
      background-color: #1f41bb33;
      margin-inline: $XsSize4;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }
}

.action-list-body {
  background-color: #ffffff;
  font-family: 'medium', sans-serif;
  /*padding: var(--space-sm) var(--space-md);*/
  border-radius: $SmSize;
  color: black;
  border: none;
  .p-popover {
    border: none;
    .p-popover-content {
      padding: 0;
    }
  }
  ul {
    width: 250px;
    border-radius: $XsSize2;
    padding: $SmSize $XsSize2;
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize2;
    .list-item {
      font-family: 'Regular';
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-bottom: var(--space-sm);
      margin-top: var(--space-sm);
      transition: linear all 0.3s;
      font-size: $MdSize;
      font-weight: $BaseFontMediumWeight;
      cursor: pointer;
      border-radius: 5px;
      background-color: #c4c4c40f;
      color: #575b71;
      // padding: 5px;
      border: none !important;

      &.info {
        &:hover {
          background-color: #1f41bb0f;
        }
      }
      &.error {
        &:hover {
          background-color: #ff1d1d0f;
        }
      }
      &.success {
        &:hover {
          background-color: #0ac9050f;
        }
      }
      &.warning {
        &:hover {
          background-color: #f5b2001a;
        }
      }

      a {
        padding: $XsSize2 $XsSize;

        //color: black;
        width: 100%;
      }
      // padding: 0 var(--space-sm);

      &:last-child {
        // color: red;
      }

      &:not(:last-child) {
        // border-bottom: 1px solid $Gray-2;
      }
      &:hover {
        background-color: #1d4ed80f;
      }
      button {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding: $XsSize2 $XsSize;
        border-radius: 8px;
      }
      &:hover {
        // color: var(--primary-color);
        // svg:not(.list-danger) {
        //   filter: brightness(0) saturate(100%) invert(16%) sepia(97%) saturate(1123%)
        //     hue-rotate(209deg) brightness(112%) contrast(107%);
        // }
      }

      svg:not(.list-danger) {
        width: 20px;
        // filter: brightness(0) saturate(100%) invert(16%) sepia(97%) saturate(1123%) hue-rotate(209deg)
        //   brightness(112%) contrast(107%);
      }
      &.list-danger {
        color: var(--danger-color);
      }
    }
  }
}
