@use '../variables' as *;
@use '../mixins/flex' as *;
.system-dialog-content-container {
  height: 60vh;
  overflow: auto;
  .system-dialog-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize;
    width: 100%;

    .row-content {
      width: 100%;
      padding: $XlSize $XsSize2;
      border-bottom: 1px solid var(--surface-2);
      &.active {
        background-color: color-mix(in srgb, var(--brand-primary-500) 3.92%, transparent);
      }

      @include flex-row(nowrap, space-between, center);
      .title {
        color: var(--text-strong);
        font-size: $MdSize2;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
  }
  .confirm-btn {
    display: fixed;
    bottom: 0;
    width: 100%;
  }
}
