@use '../variables' as *;
@use '../mixins/flex' as *;
.system-dialog-content-container {
  height: 60vh;
  overflow: auto;
  .system-dialog-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $XsSize;
    width: 100%;

    .row-content {
      width: 100%;
      padding: $XlSize $XsSize2;
      border-bottom: 1px solid #dddedf;
      &.active {
        background-color: #1d4ed80a;
      }

      @include flex-row(nowrap, space-between, center);
      .title {
        color: #000000;
        font-size: $MdSize2;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
  }
  .confirm-btn {
    display: fixed;
    bottom: 0;
    width: 100%;
  }
}
