@import '../variables';
@import '../mixins/flex';

.serial-form {
  padding: 40px 0;
  overflow: visible;
  position: relative;
  // &:last-child {
  //   padding-bottom: 120px;
  // }
  .serial-overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 20px;
  }
  .serial-form-section {
    &.opacity {
      opacity: 0.5;
    }
    @include flex-column();
    gap: calc($XlSize2 + 4px);
    // padding: calc($XlSize3 + 4px) 0;

    .serial-form-title {
      background: #f0f4ff;
      border-radius: calc($XlSize2 + 2px);
      h2 {
        color: $PrimaryColor;
        padding: $MdSize $XlSize;
        text-align: center;
        font-size: $XlSize;
        font-weight: $BaseFontSemiBoldWeight;
        font-family: 'Regular';
      }
    }
  }
  .form-sticky-button {
    position: sticky;
    bottom: 0;
    width: 100%;
    padding: $XlSize2;
    background: #fff;
    z-index: 5;
    @media (max-width: 768px) {
      padding: $SmSize $MdSize;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $SmSize;

      .btn {
        width: 100% !important;
      }
    }
  }
  .input-wrapper.star {
    width: 100%;

    label {
      width: fit-content;
      @include flex-row(nowrap, center, center);
      gap: $XsSize4;
    }
  }
}
// .p-accordionheader-toggle-icon {
//   display: none !important;
// }
