@import '../variables';
@import '../mixins/flex';

.serial-form {
  padding: 40px 0;
  overflow: visible;
  .serial-form-section {
    @include flex-column();
    gap: calc($XlSize2 + 4px);
    // padding: calc($XlSize3 + 4px) 0;

    .serial-form-title {
      background: #f0f4ff;
      border-radius: calc($XlSize2 + 2px);
      h2 {
        color: $PrimaryColor;
        padding: $MdSize $XlSize;
        text-align: center;
        font-size: $XlSize;
        font-weight: $BaseFontSemiBoldWeight;
        font-family: 'Regular';
      }
    }
  }
  .form-sticky-button {
    padding: $MdSize $XlSize;
    position: fixed;
    width: 80%;
    bottom: 0;
    background: #fff;
    z-index: 20;

    @media (max-width: 768px) {
      padding: $SmSize $MdSize;
      flex-direction: column;
      gap: $SmSize;

      .btn {
        width: 100% !important;
      }
    }
  }
  .input-wrapper.star {
    width: 100%;

    label {
      width: fit-content;
      @include flex-row(nowrap, center, center);
      gap: $XsSize4;
    }
  }
}
// .p-accordionheader-toggle-icon {
//   display: none !important;
// }
