@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.index-investigationMeeting {
  .idnex-filter {
    @include flex-row(wrap, space-between, center);
    gap: $XsSize;
    font-family: 'Regular';
    // border: 3px solid color-mix(in srgb, var(--brand-primary-500) 15.29%, transparent);
    // border-radius: calc($XlSize + 2px);
    padding: $MdSize;
    background-color: transparent !important;
    width: 100%;
    .btns {
      @include flex-row(nowrap, flex-end, center);
      gap: 5px;
    }
    .filter-container {
      @include flex-row(wrap, flex-start, center);
      gap: $MdSize;
      max-width: 100%;
      // scroll-snap-align: start;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: color-mix(in srgb, var(--text-strong) 20%, transparent);
        border-radius: 4px;
      }
      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      .filter {
        color: var(--brand-primary-700);
        font-size: $XsSize;
        font-weight: $BaseFontSemiBoldWeight;
        border: 1px solid var(--brand-primary-100);
        border-radius: calc($XlSize3 + 5px);
        padding: $XsSize2 $MdSize;
        cursor: pointer;

        &.active {
          background-color: color-mix(in srgb, var(--brand-primary-600) 5.1%, transparent);
          color: $PrimaryColor;
          border: 1px solid $PrimaryColor;
        }
      }
    }
  }
  .btns-filter {
    @include flex-row(nowrap, flex-end, center);
    gap: $XsSize3;
    width: 100%;

    .btn-filter {
      @include flex-center();
      color: $PrimaryColor;
      background-color: color-mix(in srgb, var(--brand-primary-600) 3.92%, transparent);
      border: 1px solid color-mix(in srgb, var(--brand-primary-500) 15.29%, transparent);
      border-radius: calc($XlSize3 + 10px);
      transition: 0.3s all linear;
      &:hover {
        background-color: var(--surface-1);
      }
    }
  }
}
