@use "../../variables" as *;
.dialog {
  border: none;
  padding: 20px 60px;
  border-radius: 16px;
  text-align: center;
  margin: auto;
  background-color: $White;

  img {
    max-width: 120px;
    max-height: 120px;
    margin: 0 auto;
    display: block;
    aspect-ratio: 16/9;
  }

  h4 {
    font-weight: bold;
    color: rgba(76, 150, 95, 1);
    margin-block: 1rem;
  }
  p {
    color: $Gray-3;
  }
  .dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dialog-close-btn {
    display: block;
    margin: 10px auto;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
    cursor: pointer;
    outline: none;
  }
}

.dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
  backdrop-filter: blur(5px);
}
