@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.inspection-dialog {
  .inspections-sections {
    height: 800px;
    overflow-y: auto;
    padding-inline: $SmSize;
    padding-top: 0;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--bg-gray);
      border-radius: 4px;
    }

    margin: 0;
    .inspections {
      .inspections-cards {
        @include grid(1, $XsSize);
      }
    }
  }
}
