@import '../../variables';
@import '../../mixins/flex';

.project-details-section {
  .inspections-sections {
    background: rgba(250, 250, 250, 0.8);
    border-radius: $BorderRadiusLg;
    padding: $MdSize2;
    margin-block: $MdSize;
    .inspections {
        .inspections-cards{
            .inspections-card{
                
            }
        }
    }

    .divider {
      width: 100%;
      border: none;
      background-color: #f1f3f5;
      height: 2px;
      margin-block: $MdSize;
    }
  }
}
