@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.inspection-type-container {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $MdSize;
  font-family: 'Light';
  width: 100%;
  border-radius: calc($MdSize2 + 1px);
  padding: $XsSize $SmSize;
  padding-left: 0;
  .inspection-header {
    width: 100%;
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize2;
    width: 100%;
    .title-container {
      width: 100%;
      @include flex-row(nowrap, flex-start, center);
      gap: $XsSize4;
      .title {
        color: var(--text-strong);
        font-size: $MdSize;
        font-weight: $BaseFontWeightBold;
      }
    }
  }

  .inspection-type-contect {
    @include flex-row(nowrap, center, center);
    gap: $XsSize3;
    width: 100%;
    .option {
      width: 100%;
      padding: $XsSize;
      text-align: center;
      border-radius: calc($XlSize + 2px);
      transition: 0.2s all linear;
      border: 1px solid var(--brand-primary-100);
      cursor: pointer;
      &.active {
        background-color: color-mix(in srgb, var(--brand-primary-600) 3.14%, transparent);
        border: 1px solid $PrimaryColor;
        label {
          color: $PrimaryColor;
        }
      }
      label {
        width: 100%;
        text-align: center;
        color: var(--text-soft);
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
        transition: 0.2s all linear;
        display: block;
        cursor: pointer;
      }
      input {
        display: none;
      }
    }
  }
}
