@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';
.last-inspection-card {
  width: 100%;
  border: 1px solid #f6f6f6;
  border-radius: 12px;
  padding: 10px;

  .inspection-header-content {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: 0px;
    width: 100%;
    .title-container {
      width: 100%;
      @include flex-row(nowrap, flex-start, center);
      gap: $XsSize4;
      .title {
        color: $PrimaryColor;
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
        border: none;
      }
      .date {
        color: #6b7280;
        font-size: $XsSize;
        font-weight: $BaseFontMediumWeight;
      }
    }
    .inspection-info-container {
      width: 100%;
      @include flex-row(nowrap, space-between, center);
      .inspection-info {
        padding-top: $XsSize3;
        padding-bottom: $XsSize4;
        width: 80%;
        @include flex-row(nowrap, flex-start, flex-start);
        gap: $MdSize2;

        p {
          color: #9ca3af;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          span {
            color: #202020;
            font-size: $SmSize;
            font-weight: $BaseFontWeightBold;
            font-family: 'Regular';
          }
        }
      }
      .view-inspection-btn {
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
        color: $PrimaryColor;
        width: 20%;
        text-decoration: underline;
        font-family: 'Regular';
      }
    }
  }
}
