@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';


.template-selector {
  width: 100%;

  .p-accordion.p-component {
    width: 100%;
  }
  .p-icon.p-accordionheader-toggle-icon {
    display: none !important;
  }

  .template-document-container {
//     .template-document-header{
//  border: 2px dashed #E6E8EA !important;
//       border-radius: 22px;
//       background-color: #FAFAFA66;
//     }

    .p-accordioncontent {
      padding-inline: 25px;
    }
    &.active {
      border: 2px solid $PrimaryColor;
    }
    .header-select {
      @include flex-column(nowrap, flex-end, flex-end);
      .template-checkbox {
        // @include flex-row(nowrap, center, center);
        // gap: 5px;
        display: none;
      }
      .active{
        border: 10px solid red !important;
      }
      .p-radiobutton-checked .p-radiobutton-box {
        border-color: $PrimaryColor !important;
        background-color: $PrimaryColor !important;
      }
      .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
        border-color: $PrimaryColor !important;
        background-color: $PrimaryColor !important;
      }
    }
  }
}

.new-border-AccordionPanel{
   border: 2px dashed #E6E8EA !important;
      border-radius: 22px;
      background-color: #FAFAFA66;
}
