@use '../variables' as *;
@use '../mixins/flex' as *;

body {
  background-color: #f8f9fb;
  color: $Black;

  scrollbar-width: thin;
  --webkit-scrollbar-width: thin;
  scrollbar-color: $PrimaryColor $Gray-1;
  --moz-scrollbar-color: $PrimaryColor $Gray-1;
}

.content {
  @include flex(row, flex-start, stretch);
  gap: $XlSize3;
  //padding: $MdSize;
  width: 100%;

  .content-wrapper {
    flex: 1;
    @include flex-column();
    gap: $MdSize;
    width: 100%;
  }

  .main-content {
    background-color: $White;
    padding: $MdSize;
    border-radius: $XlSize;
    // min-height: 100vh;
  }
}
