@use '../variables' as *;
@use '../mixins/border' as *;
@use '../mixins/flex' as *;

.header {
  @include flex-row(nowrap, space-between, center);
  width: 100%;
  padding: $XlSize;
  font-family: 'Regular';
  background-color: white;
  border-bottom-left-radius: $XlSize;
  border-bottom-right-radius: $XlSize;
  @media (max-width: 768px) {
    display: none;
  }
  .nav {
    @include flex-row(nowrap, space-between, center);
    width: 100%;

    .logo{
      color: #170F49;
      font-weight: 700;
      font-size: 20px;
    }
  }

  .setting {
    @include flex-row(nowrap, center, center);
    gap: $XlSize;

    .countery-icon {
      width: 60px;
      height: 60px;
      padding: 10px;
      border-radius: 50%;
      background-color: #f8f9fb;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .notification {
      width: 40px;
      height: 40px;
      margin: auto;
      padding: $XsSize2;
      border-radius: 50%;
      background-color: #f8f9fb;
    }

    .user {
      @include flex-row(nowrap, center, center);
      gap: $XsSize3;
      cursor: pointer;

      img {
        width: 50px;
        border-radius: 50%;
      }
      .profile-data {
        @include flex-column(nowrap, flex-end, flex-start);

        span {
          text-align: start;
          &:first-child {
            color: black;
            text-align: right;
            width: 100%;
            min-width: 130px;
          }
          &:last-child {
            margin-left: auto;
            color: #9ca3af;
          }
        }
      }

      .dropdown-menu {
        position: absolute;
        right: var(--space-sm);
        top: calc($XlSize4 + $XlSize);
        background-color: #fff;
        border-radius: var(--radius-xs);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        min-width: 150px;
        /*display: none;*/

        li {
          cursor: pointer;
          padding: $SmSize;
          border-radius: var(--radius-xs);
          display: flex;
          align-items: center;
          gap: var(--gap-sm);
          color: rgba(84, 104, 129, 1);
          transition: all 0.2s ease-in-out;

          &:not(:last-child) {
            border-bottom: 1px solid rgba(242, 242, 243, 1);
          }

          &:hover {
            background-color: rgba(242, 242, 243, 1);

            svg {
              path {
                fill: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }

  .search {
    width: 60%;
    @include flex-row(nowrap, center, center);
    gap: $XsSize3;
    background-color: #f8f9fb;
    padding: $SmSize;
    border-radius: $XlSize;

    input {
      width: 100%;
      border: none;
      outline: none;
      background-color: transparent;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .menu {
    @include flex-row(nowrap, center, center);

    .header-link {
      @include flex-row(wrap, flex-start, center);
    }
    h1 {
      font-size: $MdSize;
      color: $Gray-3;
      font-weight: 400;
    }

    .route-name {
      font-size: $XlSize;
      color: $PrimaryColor;
    }
  }
}
