.navigation {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  box-shadow: -1px -10px 0 0 var(--primary-color);
  // background-color: ;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  @media (max-width: 1100px) {
    display: flex;
  }
  z-index: 9999;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a,
.navigation ul li .quick-search-mobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon,
.navigation ul li .quick-search-mobile .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--primary-color);
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
  color: #fff;
}
.navigation ul li.active .quick-search-mobile .icon {
  transform: translateY(-32px);
  svg {
    path {
      stroke: #fff;
    }
  }
}
.text {
  color: var(--primary-color);
}
.navigation ul li a .text,
.navigation ul li .quick-search-mobile .text {
  position: absolute;
  color: var(--primary-color);
  font-weight: 400;
  font-size: 0.65em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text,
.navigation ul li.active .quick-search-mobile .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--primary-color);
  border-radius: 50%;
  border: 6px solid var(--primary-color);
  transition: 0.5s;
}
.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--primary-color);
}
.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--primary-color);
}

/* Indicator Transitions */
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
