@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.Subscription_card {
  @include grid(
    3,
    $XsSize,
    (
      800px: 2,
      500px: 1,
    )
  );
  background: linear-gradient(
    90.87deg,
    color-mix(in srgb, var(--brand-accent-500) 6%, transparent) 0%,
    color-mix(in srgb, var(--brand-accent-500) 3.75%, transparent) 50%,
    color-mix(in srgb, var(--brand-accent-500) 6%, transparent) 100%
  );
  padding: $XlSize3 $XlSize2;
  .describe {
    h6 {
      font-size: $XlSize2;
      font-weight: $BaseFontWeightBold;
      color: var(--brand-primary-700);
    }
    p {
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      color: var(--text-soft);
    }
  }
  .renew_icon {
    @include flex(row, nowrap, space-between, center);
    background-color: color-mix(in srgb, var(--brand-accent-500) 10%, transparent);
    padding: $MdSize $XlSize;
    border-radius: $XlSize;
    .title {
      p {
        color: var(--brand-accent-500);
        font-size: $MdSize;
        font-weight: $BaseFontWeightBold;
      }
    }
  }
  .warning {
    @include flex(row, nowrap, end, center);
    position: relative;
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-color: color-mix(in srgb, var(--brand-accent-500) 10%, transparent);
      border-radius: 50%;
      margin-right: $MdSize;
      left: 45%;
      bottom: 0;
    }

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-color: color-mix(in srgb, var(--brand-accent-500) 10%, transparent);
      border-radius: 50%;
      margin-right: $MdSize;
      right: 25%;
      top: 0;
    }
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
