@import './project_statistics';
@import './home_statistics';
@import './project_statistics_card';
@import './top_teams';
@import './total_machine';
@import './incidant_factor';
@import './observation_statatistics';

@import './header_card';

@import './number_of_projects';

