@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.home-statistics {
  @include grid(
    12,
    10px,
    (
      1400px: 8,
      992px: 6,
      768px: 4,
    )
  );
  margin-top: 20px;
  // min-height: 300vh;
  // color: rgba(29, 79, 216, 0.253);
  // color: rgba(242, 178, 178, 0.466);
  // background-image: linear-gradient(
  //   to bottom ,
  //   rgb(29, 78, 216),
  //   rgba(29, 79, 178, 0.322)
  // );
}
