@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;
.project-statistics-card {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: 4px;
  min-width: 550px;
  border: 1px solid color-mix(in srgb, var(--brand-primary-600) 3.92%, transparent);
  padding: 10px 12px;
  border-radius: 12px;

  .project-statistics-card-info {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: 4px;
    .status-InActive {
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      color: var(--brand-accent-500);
    }
    .status-Active {
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      color: var(--status-success);
    }
    .status-Complate {
      font-size: $MdSize;
      font-weight: $BaseFontWeightBold;
      color: var(--status-success);
    }

    .project-name {
      color: var(--text-strong);
      font-size: $XlSize;
      font-weight: $BaseFontWeightBold;
    }
  }
  .project-statistics-card-info-counters {
    @include flex-row(nowrap, flex-start, center);
    gap: 10px;
    .counter {
      @include flex-column(nowrap, flex-start, flex-start);
      .static-info {
        color: var(--brand-primary-300);
        font-size: $MdSize;
        font-weight: $BaseFontMediumWeight;
      }
      .total {
        color: var(--text-strong);
      }
      .complated {
        color: var(--status-success);
      }
      .inprogress {
        color: var(--brand-primary-300);
      }
      .hold {
        color: var(--status-warning);
      }
    }
  }
}
