@use "../variables" as *;
@use "../mixins/flex" as *;

.destination-details {
  padding-inline: 8rem;
  @media screen and (max-width: 1200px) {
    padding-inline: $SmSize;
  }
  @include flex-column();
  gap: $XsSize;

  .title {
    font-size: $MdSize2;
    font-weight: $BaseFontWeightBold;
    color: $SecondaryColor;
    //margin-bottom: $XsSize;
  }

  .location {
    @include flex(row, wrap, flex-start, center);
    color: #3D4C5E;
    gap: $XsSize3;
    font-size: $SmSize;
    font-weight: $BaseFontSemiBoldWeight;

    span {
      font-weight: $BaseFontWeightBold;
      color: $GoldColor;
      font-size: $MdSize;
    }
  }

  .discover {
    font-size: $SmSize;
    font-weight: $BaseFontWeightBold;
    color: #3D4C5E;
    margin-block: $XsSize2;
  }


}

.map-destination-content-details {
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  width: 30rem;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  height: 100%;
  background: $BgWhite;
  color: $BgBlack;
  padding: $MdSize $XlSize2;
  @include flex-column();
  gap: $XlSize;
  border-radius: 5% 2% 2% 5%;

  .title {
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $MdSize2;
    color: $SecondaryColor;
    margin-top: $MdSize;
  }

  .rooms, .beds {
    @include flex(row, wrap, flex-start, center);
    color: #3D4C5E;
    gap: $MdSize;
    font-size: $SmSize;
    font-weight: $BaseFontSemiBoldWeight;

    span {
      font-weight: $BaseFontWeightBold;
      font-size: $MdSize;
    }
  }

  .rooms {
    .select-room {
      width: 10rem;
      color: $BgWhite;
      font-size: $SmSize;
      text-transform: capitalize;
      font-weight: $BaseFontSemiBoldWeight;
      background-color: $PrimaryColor;
      padding: $MdSize;
      transition: $Transition;
      border-radius: 30rem;
      // padding-inline-end: calc(#{$MdSize} * 2)  ;
      &:hover {
        cursor: pointer;
        background-color: $BgBlack;
      }
    }
  }


}

.line {
  color: $TextGray6;
  margin-block: $SmSize;
  width: 100%;
}


.property-description {
  margin-block: $XlSize;

  .header {
    @include flex(row, wrap, flex-start, center);
    gap: $MdSize;
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $XlSize;
    color: $SecondaryColor;
  }

  .description {
    margin-block: 2rem;
    font-weight: $BaseFontMediumWeight;
    font-size: $MdSize;
    color: $TextGray2;
  }

  .show-more {
    color: $GoldColor;
  }
}

