@use '../../variables' as *;
@use '../../mixins/flex' as *;
@use '../../mixins/grid' as *;

.emoloyees-details {
  background-color: var(--text-on-brand);
  padding: $SmSize;
  margin-block: 30px;
  .card-header {
    @include flex-row(wrap, space-between, center);
    gap: 12px;

    @media (max-width: 768px) {
      @include flex-column(wrap, flex-start, flex-start);
      a,
      button {
        width: 100%;
      }
    }
    .card-actions {
      @include flex-row(wrap, flex-end, center);
      gap: $MdSize;
      @media (max-width: 768px) {
        @include flex-column(wrap, flex-start, flex-start);
        a,
        button {
          width: 100%;
        }
      }
      button,
      a {
        padding-inline: calc($XlSize + 2px);
        padding-block: $XsSize3;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
        border-radius: calc($XlSize3 + 16px);
        transition: all 0.3s linear;

        &.edit-btn {
          background-color: color-mix(in srgb, var(--brand-primary-500) 5.88%, transparent);
          border: 1px solid $PrimaryColor;
          color: $PrimaryColor;
          &:hover {
            color: var(--text-on-brand);
            background-color: $PrimaryColor;
            border: 1px solid color-mix(in srgb, var(--brand-primary-500) 5.88%, transparent);
          }
        }
        &.create-btn {
          background-color: $PrimaryColor;
          color: var(--text-on-brand);
        }
        &.add-btn {
          background-color: var(--brand-primary-800);
          color: var(--text-on-brand);

          &:hover {
            color: var(--brand-primary-800);
            background-color: var(--text-on-brand);
            border: 1px solid var(--brand-primary-800);
          }
        }
      }
    }
  }

  .employee-hr {
    margin-block: $MdSize2;
    border-style: dashed;
    border-color: var(--brand-primary-100);
  }
  .employees-section {
    // @include flex-row(nowrap, flex-start, center);
    // gap: $XsSize2;
    // margin-top: $XsSize2;

    // overflow-x: auto;
    // overflow-y: hidden;
    // padding-bottom: $XsSize3;

    // scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;

    background: color-mix(in srgb, var(--text-soft) 10.2%, transparent);
    padding: 10px;
    border-radius: 12px 12px 0 0;
    @include grid(
      4,
      10px,
      (
        1440px: 4,
        1024px: 3,
        768px: 2,
        480px: 1,
      )
    );

    .member-card {
      // scroll-snap-align: start;
      flex: 0 0 auto;
      width: 100%;
      background-color: color-mix(in srgb, var(--text-soft) 10.59%, transparent);
    }

    // &::-webkit-scrollbar {
    //   height: 6px;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background-color: color-mix(in srgb, var(--text-strong) 20%, transparent);
    //   border-radius: 4px;
    // }
    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }
  }
  .project-teams-cards {
    padding-top: 10px;
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $MdSize2;
    background: color-mix(in srgb, var(--text-soft) 10.2%, transparent);
    padding: 10px;
    border-radius: 0 0 12px 12px;
  }
}
