@import '../../variables';
@import '../../mixins/flex';
@import '../../mixins/grid';

.emoloyees-details {
  background-color: #fcfcfc;
  padding: $SmSize;
  margin-block: 30px;
  .card-header {
    @include flex-row(wrap, space-between, center);
    gap: 12px;

    @media (max-width: 768px) {
      @include flex-column(wrap, flex-start, flex-start);
      a,
      button {
        width: 100%;
      }
    }
    .card-actions {
      @include flex-row(wrap, flex-end, center);
      gap: $MdSize;
      @media (max-width: 768px) {
        @include flex-column(wrap, flex-start, flex-start);
        a,
        button {
          width: 100%;
        }
      }
      button,
      a {
        padding-inline: calc($XlSize + 2px);
        padding-block: $XsSize3;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
        border-radius: calc($XlSize3 + 16px);
        transition: all 0.3s linear;

        &.edit-btn {
          background-color: #1d4ed80f;
          border: 1px solid $PrimaryColor;
          color: $PrimaryColor;
          &:hover {
            color: white;
            background-color: $PrimaryColor;
            border: 1px solid #1d4ed80f;
          }
        }
        &.create-btn {
          background-color: $PrimaryColor;
          color: white;
        }
        &.add-btn {
          background-color: #041953;
          color: white;

          &:hover {
            color: #041953;
            background-color: white;
            border: 1px solid #041953;
          }
        }
      }
    }
  }

  .employee-hr {
    margin-block: $MdSize2;
    border-style: dashed;
    border-color: #dce3ef;
  }
  .employees-section {
    // @include flex-row(nowrap, flex-start, center);
    // gap: $XsSize2;
    // margin-top: $XsSize2;

    // overflow-x: auto;
    // overflow-y: hidden;
    // padding-bottom: $XsSize3;

    // scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;

    @include grid(
      4,
      10px,
      (
        1440px: 4,
        1024px: 3,
        768px: 2,
        480px: 1,
      )
    );

    .member-card {
      // scroll-snap-align: start;
      flex: 0 0 auto;
      width: 100%;
    }

    // &::-webkit-scrollbar {
    //   height: 6px;
    // }
    // &::-webkit-scrollbar-thumb {
    //   background-color: rgba(0, 0, 0, 0.2);
    //   border-radius: 4px;
    // }
    // &::-webkit-scrollbar-track {
    //   background-color: transparent;
    // }
  }
  .project-teams-cards {
    padding-top: 10px;
    @include flex-column(nowrap, flex-start, flex-start);
    gap: $MdSize2;
  }
}
