@import '../../variables';
@import '../../mixins/flex';

.show-template-document-checkbox {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  font-family: 'Regular';
  width: 100%;
  padding-inline: 20px;
  .title {
    color: #5e5e5e;
    font-size: calc($MdSize + 1px);
    font-weight: $BaseFontMediumWeight;
  }
  .options-container {
    width: 100%;
    @include flex-row(wrap, space-between, center);
    border-bottom: 1px dashed #ebebeb;
    width: 100%;
    padding-bottom: 12px;
    .options {
      @include flex-row(wrap, flex-start, center);
      gap: 20px;

      .options-box {
        @include flex-row(nowrap, flex-start, center);
        gap: 8px;
        .label {
          font-family: 'Light';

          color: #9ea5b3;
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .p-checkbox-box {
          border-radius: 5px !important;
          border: 1px solid #f0f2f4 !important;
          svg {
            fill: white !important;
          }
        }
        .p-checkbox-checked .p-checkbox-box svg {
          fill: white !important;
          display: block !important;
        }
      }
    }
    .image-upload {
      width: 50px;
      height: 50px;
      margin-left: auto;
    }
  }
}
