@import '../../variables';
@import '../../mixins/flex';

.show-template-document-checkbox {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  font-family: 'Regular';
  width: 100%;

  .title {
    color: #5e5e5e;
    font-size: calc($MdSize + 1px);
    font-weight: $BaseFontMediumWeight;
  }
  .options-container {
    @include flex-row(nowrap, flex-start, center);
    gap: 20px;
    border-bottom: 1px dashed #ebebeb;
    width: 100%;
    padding-bottom: 12px;
    .options-box {
      @include flex-row(nowrap, flex-start, center);
      gap: 8px;
      .label {
        font-family: 'Light';

        color: #9ea5b3;
        font-size: $MdSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
      .p-checkbox-box {
        border-radius: 5px !important;
        border: 1px solid #f0f2f4 !important;
        svg {
          fill: white !important;
        }
      }
      .p-checkbox-checked .p-checkbox-box svg {
        fill: white !important;
        display: block !important;
      }
    }
  }
}
