@import '../../variables';
@import '../../mixins/flex';

.show-template-document-select {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  font-family: 'Regular';
  width: 100%;
  .title {
    color: #5e5e5e;
    font-size: calc($MdSize + 1px);
    font-weight: $BaseFontMediumWeight;
  }
  &.not-disabled {
    .options-container {
      .input-wrapper {
        &:after {
          content: '';

          display: none;
        }
      }
    }
  }

  .options-container {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    border-bottom: 1px dashed #ebebeb;
    padding-bottom: 12px;
    gap: 10px;
    .input-wrapper {
      width: 100%;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .input {
        width: 100%;
      }
      .input-label {
        display: none;
      }
      label {
        white-space: initial;
        text-wrap: wrap;
      }
    }
    .image-upload {
      width: 50px;
      height: 50px;
      margin-top: 15px;
    }
  }
}
