@use '../../variables' as *;
@use '../../mixins/flex' as *;

.show-template-document-checkbox {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  font-family: 'Regular';
  width: 100%;
  // padding-inline: 20px;
  .title {
    color: var(--text-soft);
    font-size: calc($MdSize + 1px);
    font-weight: $BaseFontMediumWeight;
  }
  .options-container {
    width: 100%;
    @include flex-row(wrap, space-between, center);
    border-bottom: 1px dashed var(--surface-2);
    width: 100%;
    padding-bottom: 12px;
    .options {
      @include flex-row(wrap, flex-start, center);
      gap: 20px;

      .options-box {
        @include flex-row(nowrap, flex-start, center);
        gap: 8px;
        .label {
          font-family: 'Light';

          color: var(--text-soft);
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .p-checkbox-box {
          border-radius: 5px !important;
          border: 1px solid var(--brand-primary-50) !important;
          svg {
            fill: var(--text-on-brand) !important;
          }
        }
        .p-checkbox-checked .p-checkbox-box svg {
          fill: var(--text-on-brand) !important;
          display: block !important;
        }
      }
    }
    .image-upload {
      width: 50px;
      height: 50px;
      margin-left: auto;
    }
  }
}
