@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.multi-image-uploader {
  @include flex-column(nowrap, center, center);
  gap: $XlSize;
  width: 100%;
  .input-image {
    width: 100%;
    border: 1px solid #d9dbe9;
    border-radius: $XlSize2;
    padding: $XlSize;
    cursor: pointer;

    @include flex-column(nowrap, center, center);
    .input-label-images {
      cursor: pointer;

      @include flex-column(nowrap, center, center);
      span {
        color: $Gray-3;
        font-size: $SmSize;
        font-weight: $BaseFontMediumWeight;
      }
    }
    input {
      cursor: pointer;

      display: none;
    }
  }

  .image-gallery {
    width: 100%;
    border: 1px solid #d9dbe9;
    border-radius: $XlSize2;
    padding: $XlSize;

    .image-item {
      width: 100px;
      position: relative;
      overflow: hidden;

      &:hover {
        .overlay {
          transform: translateY(0);
        }
      }

      .preview-img {
        border: 1px solid #f4f4f4;
        border-radius: $XsSize;
        cursor: pointer;
      }

      .overlay {
        transform: translateY(100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $XsSize;
        z-index: 10000;
        background-color: rgba(0, 0, 0, 0.418);
        backdrop-filter: blur(2px);
        transition: all 0.3s ease;
        cursor: pointer;
        @include flex-column(nowrap, center, center);
        span {
          color: #e23535;
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
        }
      }
    }
  }
}
