@use '../../variables' as *;
@use '../../mixins/flex' as *;
@use '../../mixins/grid' as *;

.investigation-show-result-btn {
  font-size: $MdSize;
  font-weight: $BaseFontWeightBold;
  color: color-mix(in srgb, var(--brand-primary-600) 80%, transparent);
  background-color: color-mix(in srgb, var(--brand-primary-600) 7.06%, transparent);
  border: 0.5px solid color-mix(in srgb, var(--brand-primary-600) 60%, transparent);
  padding: 8px 14px;
  border-radius: $XlSize2;
  cursor: pointer;
  transition: 0.6s ease;
  width: fit-content;
  &:hover {
    background-color: var(--brand-primary-500);
    color: var(--text-on-brand);
  }
}

.show-result-dialog-header {
  @include flex-column();
  gap: $XsSize4;
  width: 100%;

  h3 {
    font-size: $XlSize;
    font-weight: $BaseFontWeightBold;
    color: var(--text-strong);
  }

  p {
    font-size: $SmSize;
    color: var(--text-soft);
  }
}

.investigation-show-result {
  border-top: 2px solidvar(--brand-primary-50);
  .dialog-content {
    @include flex-row(nowrap, start, start);
    gap: $XlSize2;
    margin-top: $MdSize;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: $XlSize;
    }
  }

  /* ========== TEXT SIDE ========== */
  .all-text-content {
    @include flex-column();
    gap: $XlSize;
    flex: 1;
  }

  .observer-info {
    @include flex-column();
    gap: $XsSize2;

    h3.main-title {
      font-size: $MdSize;
      font-weight: $BaseFontSemiBoldWeight;
      color: var(--brand-primary-900);
    }

    .info-row {
      @include flex-row(wrap, start, center);
      gap: $XlSize2;
      margin-top: $XsSize2;

      .info-item {
        display: flex;
        gap: 4px;

        h5 {
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          color: $SubtitleColor;
        }

        span {
          font-size: $SmSize;
          font-weight: $BaseFontSemiBoldWeight;
          color: var(--brand-primary-600);
        }
      }
    }
  }

  /* ========== DESCRIPTION ========== */
  .notes {
    padding-top: $XsSize;
    background: var(--surface-1);
    border-radius: $XlSize2;
    padding: 10px 10px 18px 10px;

    h4 {
      font-size: $SmSize;
      font-weight: $BaseFontSemiBoldWeight;
      color: var(--text-strong);
      text-transform: capitalize;
      margin-bottom: 6px;
    }

    p {
      font-size: $SmSize;
      color: var(--text-soft);
      line-height: 1.7;
    }
  }
  a {
    font-size: $MdSize;
    font-weight: $BaseFontWeightBold;
    color: var(--brand-primary-600);
    text-decoration: underline;
    transition: 0.6s ease;
    &:hover {
      text-decoration: none;
    }
  }

  /* ========== IMAGE SIDE ========== */
  .user-img-side {
    @include flex-row(nowrap, center, center);
    gap: $XsSize2;

    img {
      @include flex-center();
      width: 25px;
      height: 25px;
      object-fit: cover;
      display: block;
    }

    span {
      font-size: $SmSize;
      font-weight: $BaseFontMediumWeight;
      color: $SubtitleColor;
    }

    p {
      font-size: $SmSize;
      font-weight: $BaseFontSemiBoldWeight;
      color: var(--brand-primary-600);
    }
  }
}
