@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.project-card-container {
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize4;
  width: 100%;
  border: 1px solid #1f41bb0a;
  border-radius: $XsSize;
  padding: $SmSize;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s all linear;
  &:hover {
    scale: 1.02;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  .project-card-header-container {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    .project-card-header {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: $XsSize4;
      .project-header {
        @include flex-row(nowrap, flex-start, flex-start);
        gap: $XsSize4;

        .status {
          color: #4caf50;
          font-size: $MdSize;
          font-weight: $BaseFontWeightBold;
        }
        .serial {
          color: #1d4fd891;
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          background-color: #1f41bb05;
          // border: 1px solid $PrimaryColor;
          padding: 5px;
          border-radius: 8px;
        }
      }
      .project-title {
        color: #121212;
        font-size: $XlSize;
        font-weight: $BaseFontWeightBold;
        font-family: 'Light';
      }
    }

    .project-employees {
      color: #9298ae;
      background-color: #fbfbfb;
      padding: $XsSize;
      border-radius: $XsSize;
      span {
        color: $PrimaryColor;
      }
    }
  }

  .project-card-info {
    @include flex-row(nowrap, flex-start, flex-start);
    gap: $XlSize3;

    .locations {
      color: #b7beca;
      font-size: $MdSize;
      font-weight: $BaseFontMediumWeight;
      span {
        font-family: 'Regular';
        color: $PrimaryColor;
      }
    }
  }
  .project-card-data {
    width: 100%;
    @include flex-row(nowrap, space-between, center);
    .data-info {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: 4px;
      .info-title {
        color: #b7beca;
        font-size: $SmSize;
        font-weight: $BaseFontWeight;
        font-family: 'Light';
      }
      .info-count {
        color: $PrimaryColor;
        font-size: $SmSize;
        font-weight: $BaseFontWeight;
        &.warn {
          color: #ffbf52;
        }
      }
    }
  }
}
