@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/grid" as *;

.destinations-section {
  padding-block: $SectionPadding;
  background-color: $BgWhite;
  position: relative;

  .container {
    @include flex-column();
    gap: clamp(
            calc(40 * 0.8px),
            calc(40 * 100vw / var(--base-width)),
            calc(40 * 1.2px)
    );
  }


  .section-image {
    position: absolute;
    left: 0;
    top: clamp(
            calc(74 * 0.8px),
            calc(74 * 100vw / var(--base-width)),
            calc(74 * 1.2px)
    );
    opacity: 0.15;
  }

  .destinations-wrapper {
    @include grid(4, $XlSize2, (
            1440px: 4,
            1024px: 3,
            768px: 2,
    ));
  }
}
