@use "../variables" as *;
@use "../mixins/flex" as *;

.hero-section {
  height: clamp(
    calc(655 * 0.8px),
    calc(655 * 100vw / var(--base-width)),
    calc(655 * 1.2px)
  );
  overflow: hidden;
  
  @media(max-width: 768px){
        height: 100vh;
    }

  .hero-section-content {
    padding: clamp(
      calc(100 * 0.8px),
      calc(100 * 100vw / var(--base-width)),
      calc(100 * 1.2px)
    );
    @media(max-width: 768px){
          padding: clamp(
          calc(16 * 0.8px),
          calc(16 * 100vw / var(--base-width)),
          calc(16 * 1.2px)
        ) !important; 
      }


    @media (max-width: 768px) {
      padding: clamp(
        calc(80 * 0.8px),
        calc(80 * 100vw / var(--base-width)),
        calc(80 * 1.2px)
      );
    }
    @include flex-column(nowrap, center, center);
    text-align: center;
    position: absolute;
    

    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    gap: $XlSize2;

    .btn-explore {
      width: initial;
      @media (max-width:768px) {
          margin-right: auto;
      }
    }

    .info {
      @include flex-column(nowrap, center, center);
      gap: $XsSize;
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }

     

      .main-title {
        font-size: $XlSize4;
        font-weight: $BaseFontWeightBold;
        color: $BgWhite;
        white-space: nowrap;
         @media (max-width:768px) {
            text-align: left;
            margin-right: auto;
          }
      
      }

      p {
        color: $BgWhite;
        font-size: $XlSize;
        font-weight: $BaseFontWeight;
          @media (max-width:768px) {
          text-align: left;
          margin-right: auto;
        }
      }

      @media (max-width: 768px) {
        .info {
          width: 100%;
        }
        .main-title {
          font-size: $XlSize3;
        }
      }
    }
  }

  .hero-swiper {
    height: 100%;
    .img-container {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        aspect-ratio: 16/9;
      }
    }
  }
}
