@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/grid" as *;

.packages-section {
    padding-top: $SectionPadding;
    background-color: $BgWhite;

    .view-more-btn{
        margin: auto;
    }
    .container{
        .section-title-wrapper{
            @include flex-column(nowrap , center , center);
         
            .section-title{
                text-align: center;
            }
        }

        .filter{
            width: 100%;
        }
    }
}

.package-card-container{
    @include grid(2 , $XlSize3);
    padding-block: calc($XlSize4 + 3px);

       @media(max-width: 963px){
            @include grid(1 , $XlSize3);
    
        }
}