@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/border" as *;

.advantage-card {
  @include flex-column(nowrap, center, center);
  gap: $XsSize2;
  padding: $XsSize $MdSize;
  @include border($BaseBorderWidth, $TextGray6, solid, $XlSize2);
  flex: 1 0 auto;
  min-height: 200px;
  min-width: 200px;


  @media (min-width: 1441px) {
    min-width: 300px;

    //min-height: unset;
    //width: 100%;
    //overflow: hidden;
  }
  position: relative;
  width: 100%;


  overflow: hidden; // Default state
  &-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }


  @media (max-width: 768px) {
    //min-height: unset;
    width: 100%;
    overflow: hidden;
  }


  .advantage-card-title {
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $XlSize;
    color: $SecondaryColor;
    white-space: nowrap;
  }

  .img-advantage-card-container {
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: clamp(calc(100px * 0.8), 100px, calc(100px * 1.2));

      @include flex-center();
    }
  }

  .advantage-card-subtitle {
    font-weight: $BaseFontMediumWeight;
    font-size: $SmSize;
    color: $TextGray2;
    white-space: break-spaces;
  }

  &:nth-child(1) {
    margin-top: $XlSize4;
    background-color: $MainBtnbg;

    @media (max-width: 768px) {
      margin-top: unset;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    background-color: #e4e6e8;
    align-items: flex-start;
    justify-content: flex-start;

    .img-advantage-card-container {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &:nth-child(4) {
    background-color: $GoldColor;
    //margin-top: calc($XlSize4 * -1);

  }

  &:nth-child(4) {
    margin-top: calc(calc($XlSize4 - $XsSize) * -1);


    @media (min-width: 1441px) {
      margin-top: calc(calc($XlSize4 - $XsSize) * -1);
    }

    @media (max-width: 768px) {
      margin-top: unset;
    }

  }

  @media (max-width: 768px) {
    margin-top: unset;
  }

}

