@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/border" as *;

.best-international-card {
  .best-international-container {
    @include flex-column(nowrap, center, center);
    cursor: pointer;
    gap: $XsSize2;
    text-align: center;

    .img-destination-container {
      width: 8rem;
      height: 10rem;
      border-radius: $XlSize4;
      overflow: hidden;
      img {
        //border-radius: var(--xl-size-1);
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
      }
    }

    .card-best-international-title {
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      color: $SecondaryColor;
      white-space: nowrap;
    }
    .card-best-international-hotels-count {
      font-weight: $BaseFontMediumWeight;
      font-size: $SmSize;
      color: $TextGray2;
      white-space: nowrap;
    }
  }
}
