@use "../variables" as *;
@use "../mixins/border" as *;
@use "../mixins/flex" as *;


.card-destinations {
  @include flex-column();
  gap: $MdSize;
  padding: $MdSize;
  @include border($BaseBorderWidth, $TextGray6, solid, $XlSize2);

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  .img-destinations-container {
    border-radius: $XlSize2;
    height: 114.31px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      will-change: transform;
      transition: $TransitionSlow;
    }
  }


  .card-destinations-info {
    @include flex-column();
    gap: $XsSize4;


    .card-destinations-title {
      font-size: $MdSize2;
      font-weight: $BaseFontSemiBoldWeight;
      color: $PrimaryColor;
    }

    .card-destinations-footer {
      @include flex-justify(row, nowrap);
      //gap: $XsSize2;

      .card-destinations-subtitle {
        font-size: $SmSize;
        color: $TextGray2;
        font-weight: $BaseFontMediumWeight;
        text-transform: capitalize;
      }


    }

  }

  .icon {
    @include flex-center(row, nowrap);
    width: 27px;
    height: 27px;
    background-color: $IconBg;
    border-radius: 50%;
    transition: $TransitionSlow;

    &:hover {
      background-color: $GoldColor;
      cursor: pointer;

      svg {
        path {
          fill: $BgWhite;
          stroke: $BgWhite;
        }
      }
    }
  }

}

.all-destinations {
  background-color: $TextGray6;

  h3 {
    color: $TextGray2;
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $XlSize2;
    text-transform: capitalize;
    width: 50%;

  }

  svg {
    path {
      //fill: $BgBlack;
      stroke: $BgBlack;
    }
  }

  .btn {
    width: 100%;
    justify-content: space-between;
    border-radius: $MdSize;
  }
}