@use "../variables" as *;
@use "../mixins/flex" as *;
@use "../mixins/border" as *;

.own-hotel-card {
  @include border($BaseBorderWidth, $TextGray6, solid, $XlSize2);
  padding: $XlSize $XlSize2;
  .own-hotel-container {
    @include flex(nowrap, center, start);
    @media screen and (max-width: 768px) {
      @include flex-column(nowrap, center, center);
    }

    gap: $XlSize2;

    img {
      // width: 13rem;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
    .card-own-hotel-info {
      @include flex-column(nowrap, start, start);

      .card-own-hotel-title {
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $MdSize;
        color: $SecondaryColor;
        margin-block: $XsSize2;
      }
      .card-own-hotel-subtitle {
        font-weight: $BaseFontMediumWeight;
        font-size: $SmSize;
        color: $TextGray2;
      }
      ul {
        @include flex-column(nowrap, center, start);
        li {
          font-weight: $BaseFontMediumWeight;
          font-size: $SmSize;
          color: $TextGray2;
        }
      }
      .card-own-hotel-button {
        margin-block: $XsSize2;
        background-color: $SecondaryColor;
        color: $BgWhite;
        border-radius: $XlSize2;
        padding: $MdSize $XlSize;
        font-weight: $BaseFontSemiBoldWeight;
        font-size: $SmSize;
        transition: $TransitionFast;
        &:hover {
          background-color: $BgBlack;
        }
      }
    }
  }
}
