@use "../variables" as *;
@use "../mixins/flex" as *;
// @use "../mixins/border" as *;

.service-card {
  @include flex-column(nowrap, center, center);
  gap: $XlSize2;
  min-width: 200px;
  flex: 1 1 200px;

  .service-icon {
    width: 40px;
    height: 40px;
    @include flex-center();

    //background-color: #f6e2dd;
  }

  &:hover {
    .service-card-title {
      color: $GoldColor;
    }
  }

  .service-card-title {
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $XlSize2;
    color: $SecondaryColor;
    white-space: nowrap;
    will-change: color;
    transition: $TransitionSlow;
  }

  .service-card-subtitle {
    font-weight: $BaseFontMediumWeight;
    font-size: $SmSize;
    color: $TextGray2;
    // white-space: balance;
    text-align: center;
  }
}
