@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/border' as *;

.input-wrapper {
  @include flex-column();
  gap: $XsSize3;
  position: relative;

  &.check-box {
    @include flex-justify();
    gap: $XsSize2;
    align-items: center;
    justify-content: flex-start;
  }

  label {
    font-size: $MdSize;
    color: #202020;
    font-weight: $BaseFontSemiBoldWeight;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: start;
    font-family: 'Regular', sans-serif;
  }

  .label-wrapper {
    @include flex-justify();
  }
  .languages {
    @include flex-align();
    gap: $XsSize2;

    .input-lang {
      cursor: pointer; // ✅ fix typo
      .icon-lng {
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
      }
    }

    input[type='radio'] {
      display: none;
      &:checked + .icon-lng {
        opacity: 1;
      }
    }
  }

  input:not([type='checkbox']),
  textarea {
    @include border($BaseBorderWidth, rgba(217, 219, 233, 1), solid, $XsSize2);
    padding: $MdSize2 $MdSize;
    font-size: $SmSize;
    color: $Black;
    font-weight: $BaseFontMediumWeight;
    text-transform: capitalize;
    white-space: nowrap;
    text-align: start;
    width: 100%;
    outline: none;
    border-radius: $XlSize3;
    transition: all 0.3s ease-in-out;
    background-color: transparent;

    &:focus-visible:valid {
      border-color: rgba(217, 219, 233, 1);
    }
    &:focus-visible:invalid {
      border-color: $Red;
    }

    &:focus {
      border-color: $PrimaryColor;
    }

    &:focus-visible {
      outline: none;
    }

    &:placeholder {
      color: $Gray-3;
    }

    &:disabled {
      background-color: rgba(217, 219, 233, 1);
    }

    caret-color: $PrimaryColor;
  }

  .select-lang {
    position: absolute;
    right: $MdSize;
    top: calc(50% + $SmSize);
    transform: translateY(-50%);
    color: $PrimaryColor;
    font-size: $SmSize;
    font-weight: $BaseFontMediumWeight;
    cursor: pointer;
    text-transform: capitalize;
  }
}
