@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;
.project-progress-header-container {
  width: 100%;
  @include flex-row(nowrap, space-between, center);
  background-image: linear-gradient(to right, color-mix(in srgb, var(--brand-primary-200) 11.76%, transparent), var(--surface-1));
  border: 1px solid color-mix(in srgb, var(--brand-primary-600) 7.06%, transparent);
  border-radius: $XlSize2;
  padding: $SmSize $XlSize2;
  .project-progress-info {
    @include flex-row(nowrap, flex-start, center);
    gap: $XsSize;
    .project-progress-info-text {
      @include flex-column(nowrap, flex-start, flex-start);
      gap: $XsSize4;

      .title {
        color: var(--brand-primary-800);
        font-size: $XlSize;
        font-weight: $BaseFontWeightBold;
      }
      .description {
        color: var(--text-muted);
        font-size: $MdSize;
        font-weight: $BaseFontMediumWeight;
      }
    }
  }
}
