 @font-face {
  font-family: "Light";
  src: url("../fonts/URW/URW\ DIN\ Arabic\ Light.ttf") format("truetype");
}
 @font-face {
  font-family: "Regular";
  src: url("../fonts/URW/URW\ DIN\ Arabic\ Medium.ttf") format("truetype");
}
 @font-face {
  font-family: "Bold";
  src: url("../fonts/URW/URW\ DIN\ Arabic\ Bold.ttf") format("truetype");
}
