:root {
  /* Light mode defaults */
  --PrimaryColor: #1d4ed8;
  --header-page-color: #041953;
  --second-dark-color: #121212;
  --primary-dark: #1d4ed880;
  --Red-opacity: #e2353599;
  --green: #4aae3a;
  --green-done: #4caf501a;
  --delay-color: #ffbf521a;
  --BgWhite: rgba(255, 255, 255, 1);
  --Gray-1: rgba(248, 249, 250, 1);
  --Gray-4: #d9dbe9;
  --Gray-2: rgba(241, 243, 245, 1);
  --Gray-3: rgba(156, 163, 175, 1);
  --GrayText-1: rgba(107, 114, 128, 1);
  --GrayText: lab(35.78% -0.45 -9.41);
  --DarkGray: rgba(147, 154, 168, 1);
  --LightGray: rgba(248, 249, 250, 1);
  --Black: rgba(0, 0, 0, 1);
  --Red: rgba(237, 28, 36, 1);
  --danger-color: #e23535;
  --main-border: rgb(221, 226, 237);
  --checkbox-bg: #f5f5ff;
  --subtitle-color: #9ca3af;
  --base-width: 1440;
  --base-height: 900;
  --font-family: 'URW DIN Arabic';
  --third-color: #170f49;
  --low-color: #8A38F5;
  --medium-color: #ffbf52;
  --high-color: #E23535;

  --icon-bg: #f2f4f6;
  --xl-size-3: clamp(calc(50 * 0.8px), calc(50 * 100vw / var(--base-width)), calc(50 * 1.2px));
  --xl-size-2: clamp(calc(30 * 0.8px), calc(30 * 100vw / var(--base-width)), calc(30 * 1.2px));
  --xl-size-1: clamp(calc(24 * 0.8px), calc(24 * 100vw / var(--base-width)), calc(24 * 1.2px));
  --xl-size-base: clamp(calc(20 * 0.8px), calc(20 * 100vw / var(--base-width)), calc(20 * 1.2px));
  --md-size: clamp(calc(16 * 0.8px), calc(16 * 100vw / var(--base-width)), calc(16 * 1.2px));
  --md-size-2: clamp(calc(18 * 0.8px), calc(18 * 100vw / var(--base-width)), calc(18 * 1.2px));

  --sm-size: clamp(calc(14 * 0.8px), calc(14 * 100vw / var(--base-width)), calc(14 * 1.2px));
  --xs-size: clamp(calc(12 * 0.8px), calc(12 * 100vw / var(--base-width)), calc(12 * 1.2px));
  --xs-size-2: clamp(calc(10 * 0.8px), calc(10 * 100vw / var(--base-width)), calc(10 * 1.2px));
  --xs-size-3: clamp(calc(8 * 0.8px), calc(8 * 100vw / var(--base-width)), calc(8 * 1.2px));
  --xs-size-4: clamp(calc(6 * 0.8px), calc(6 * 100vw / var(--base-width)), calc(6 * 1.2px));
  --section-padding: clamp(
    calc(120 * 0.8px),
    calc(120 * 100vw / var(--base-width)),
    calc(120 * 1.2px)
  );
  /* Dark mode overrides */
  //@media (prefers-color-scheme: dark) {
  //  --PrimaryColor: #A4B8D4;
  //  --GoldColor: #F4A623;
  //  --SecondaryColor: #E6E6E6;
  //  --BgWhite: #121212;
  //  --BgBlack: #FFFFFF;
  //} //  --TextGray: #B7C9D9; //  --TextColor: #FFFFFF; //  --BgGray: #1E1E1E;
}

/*<editor-fold desc="colors">*/
$PrimaryColor: var(--PrimaryColor);
$White: var(--BgWhite);
$Gray-1: var(--Gray-1);
$Gray-2: var(--Gray-2);
$DelayColor: var(--delay-color);
$Gray-3: var(--Gray-3);
$Green: var(--green);
$greenDone: var(--green-done);
$GrayText-1: var(--GrayText-1);
$GrayText: var(--GrayText);
$DarkGray: var(--DarkGray);
$LightGray: var(--LightGray);
$Red: var(--Red);
$red-opacity: var(--Red-opacity);
$MainBorder: var(--main-border);
$Black: var(--Black);
$CheckboxBg: var(--checkbox-bg);
$SubtitleColor: var(--subtitle-color);
$ThirdColor: var(--third-color);
$FontFamily: var(--font-family);
$LowColor: var(--low-color);
$MediumColor: var(--medium-color);
$HighColor: var(--high-color);
$IconBg: var(--icon-bg);

$Gray-4: var(--Gray-4);
$primary-dark: var(--primary-dark);
/*</editor-fold>*/

/*<editor-fold desc="sizes">*/
$XsSize: var(--xs-size); // 12px
$XsSize2: var(--xs-size-2); // 10px
$XsSize3: var(--xs-size-3); // 8px
$XsSize4: var(--xs-size-4); // 6px
$SmSize: var(--sm-size); // 14px
$MdSize: var(--md-size); // 16px
$MdSize2: var(--md-size-2); // 18px
$XlSize: var(--xl-size-base); // 20px
$XlSize2: var(--xl-size-1); // 24px
$XlSize3: var(--xl-size-2); // 30px
$XlSize4: var(--xl-size-3); // 50px
$SectionPadding: var(--section-padding);
/*</editor-fold>*/

/*<editor-fold desc="font">*/
$BaseFontWeight: 400;
$BaseFontMediumWeight: 500;
$BaseFontSemiBoldWeight: 600;
$BaseFontWeightBold: 700;
$BaseLineHeight: 1.5;
$BaseLetterSpacing: 0.02em;
/*</editor-fold>*/

/*<editor-fold desc="border">*/
$BorderRadiusLg: 16px;
$BorderRadiusMd: 12px;
$BorderRadiusSm: 8px;
$BorderRadiusXs: 4px;
$BaseBorderWidth: 1px;
$BorderWidth2: 2px;
$BorderWidth3: 3px;
$BorderWidth4: 4px;

/*</editor-fold>*/

/*<editor-fold desc="shadow">*/
$Shadow1: 0px 4px 8px rgba(0, 0, 0, 0.1);
$Shadow2: 0px 8px 16px rgba(0, 0, 0, 0.1);
$Shadow3: 0px 12px 24px rgba(0, 0, 0, 0.1);
$Shadow4: 0px 16px 32px rgba(0, 0, 0, 0.1);
/*</editor-fold>*/

/*<editor-fold desc="transition">*/
$Transition: all 0.4s ease-in-out;
$TransitionFast: all 0.2s ease-in-out;
$TransitionSlow: all 0.7s ease-in-out;
/*</editor-fold>*/
