@use './variables' as *;
@use './login/login';
//@use "./normalize";

/*<editor-fold desc="utils">*/
@use './utils/container';
@use './utils/_button';
@use './utils/_primary_btn';
@use './utils/_third_btn';
@use './utils/_secondary_btn';
@use './utils/input_serach';
@use './utils/data_empty';
@use './utils/popover';
@use './utils/btn_add';
@use './utils/btn_cancel';
@use './utils/breadCrumb';
@use './utils/tabs_selections';
@use './utils/custom_checkbox';
@use './utils/delete_dialog';
//@use "./utils/_explore_btn";
@use './normalize';
@use './permission';
@use './crop';
@use './equipment/imports_equipment';
@use './observation/imports_observation';
@use './equipment/details/imports_details';
@use './inspection/imports_inspection';
@use './investigating/investigating_imports';
@use './investigationMeeting/investigation_meeting_imports';

//@use "./utils/_section_title";
//@use "./utils/_fonts";
//@use "./utils/input_filter";
//@use "./utils/_section_title";
@use './utils/danger_btn';
/*</editor-fold>*/

/*<editor-fold desc="layout">*/
@use './layout/layout_imports';
/*</editor-fold>*/

/*<editor-fold desc="components">*/
@use './components/drop_menu';
@use './components/search_input';
@use './components/date_picker';

@use './components/dialog';

@use './components/checkbox';

@use './components/swiper';
/*</editor-fold>*/

/*<editor-fold desc="error">*/
@use 'Dialogs/imports';
/*</editor-fold>*/

/*<editor-fold desc="fonts">*/
@use './fonts';
/*</editor-fold>*/
/*<editor-fold desc="file_upload">*/
@use './FileUpload/file_upload';
/*</editor-fold>*/
/*<editor-fold desc="form">*/
@use 'form/form_imports';
/*</editor-fold>*/
/*<editor-fold desc="custom_select">*/
@use './utils/custom_select';
/*</editor-fold>*/

/*<editor-fold desc="main_table">*/
@use './tables/main_table';
/*</editor-fold>*/
/*<editor-fold desc="list">*/
@use './Lists/lists';
/*</editor-fold>*/

/*<editor-fold desc="pagination">*/
@use './Pagination/pagination';
/*</editor-fold>*/
/*<editor-fold desc="pagination">*/
@use './skeleton/skeleton';
/*</editor-fold>*/
/*<editor-fold desc="SingleInput">*/
@use './utils/single_file_input';
/*</editor-fold>*/
/*<editor-fold desc="Checkbox">*/
@use './Checkbox/checkbox_button';
/*</editor-fold>*/
/*<editor-fold desc="Actions">*/
@use './ActionsButtons/actions_buttons';
/*</editor-fold>*/
/*<editor-fold desc="Items-List">*/
@use './ListItems/items_list';
/*</editor-fold>*/
/*<editor-fold desc="Form_Header">*/
@use './FormHeader/form_header';
/*</editor-fold>*/

/*<editor-fold desc="ProjectDetails">*/
@use './projectDetails/projects_details_imports';
/*</editor-fold>*/
/*<editor-fold desc="ProjectEmployee">*/
@use './ProjectEmplyee/project_employee_imports';
/*</editor-fold>*/
/*<editor-fold desc="projectWidget">*/
@use './ProjectWidgets/project_widgets_imports';
/*</editor-fold>*/
/*<editor-fold desc="TopSlider">*/
@use './TopSlider/top_slider';
/*</editor-fold>*/
/*<editor-fold desc="Switchbtn">*/
@use './utils/switch_input';
/*</editor-fold>*/
/*<editor-fold desc="ProjectZoneForm">*/
@use './ProjectZoneForm/project_zone_form';
/*</editor-fold>*/
/*<editor-fold desc="zonedialog">*/
@use './ProjectZoneForm/add_zone_dialog';
/*</editor-fold>*/
/*<editor-fold desc="ModernTable">*/
@use './ModernTable/table_imports';
/*</editor-fold>*/
/*<editor-fold desc="TreeTable">*/
@use './TreeTable/tree_table';
/*</editor-fold>*/
/*<editor-fold desc="_template_imports">*/
@use './TemplateItem/template_imports';
/*</editor-fold>*/
/*<editor-fold desc="hazard_imports">*/
@use './hazard/hazard_imports';
/*</editor-fold>*/
/*<editor-fold desc="equipment_sidebar">*/
@use './equipmentsidebar/equipment_mangement_imports';
/*</editor-fold>*/
/*<editor-fold desc="home">*/
@use './Home/home_imports';
/*</editor-fold>*/
/*<editor-fold desc="home breadcrump">*/
@use './HomeBreadCrump/breadcrump';
/*</editor-fold>*/
/*<editor-fold desc="fast routes">*/
@use './HomeBreadCrump/fast_routes';
/*</editor-fold>*/
/*<editor-fold desc="Home Statistics">*/
@use './HomeStatistics/home_statistics_imports';
/*</editor-fold>*/
/*<editor-fold desc="Project">*/
@use './Project/project_import';
/*</editor-fold>*/
/*<editor-fold desc="Project">*/
@use './EmployeeCertificates/employee_certificates_imports';
/*</editor-fold>*/

// SERIAL
@use './SerialNumber/serial_imports';

// Ticket
@use './Ticket/imports_ticket';
// Ticket
@use './projectProgress/imports_project_progress';

// Organization Employee
@use './organizationEmployee/emp_imports';

// Employee Interface

@use './EmployeeInterface/employee_Int_imports';
@use './Certificates/certificate_import';

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  > section {
    scroll-snap-align: start;
  }
}

body {
  font-family: 'Regular', sans-serif;
  color: black;
  // overflow-x: hidden;

  p,
  span,
  div {
    text-transform: capitalize;
  }
}

.p-accordionheader {
  background: transparent !important;
}

.p-accordioncontent-content {
  background: transparent !important;
  color: $Gray-3 !important;
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader,
.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  color: $PrimaryColor !important;

  svg {
    path {
      fill: $PrimaryColor !important;
    }
  }
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: $PrimaryColor !important;
}

.icon-lng-nav {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}

// for garrery
.p-galleria-indicator-list {
  .p-galleria-indicator {
    button {
      transition: all 0.5s ease-in-out;
    }
  }
}

.p-galleria {
  border: none !important;
  outline: none !important;
}

.p-galleria-indicator-active {
  button {
    background-color: $PrimaryColor !important;
    width: 30px !important;
    height: 8px !important;
    border-radius: 50px !important;
  }
}
.p-radiobutton-box {
  border: 1px solid #8c8c8c59 !important;
}

.factor-item .p-radiobutton-checked .p-radiobutton-box {
  border: none !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.delete-btn {
  font-family: 'Regular';
  // padding: 5px;
  margin-left: auto;
  background-color: red;
  color: white;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  svg {
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    height: 18px;
  }
}

.add-dialog {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  cursor: pointer;
  color: #1d4ed8;
  text-decoration: underline;
  font-family: 'Regular';
}

.add-dialog svg {
  width: 18px;
  height: 18px;
}

.p-multiselect {
  width: 100%;
}

.ticket-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 99999;

  cursor: pointer;
  transition: 0.3s all linear;
  animation: moveTicketIcon 2s ease-in-out infinite;

  @keyframes moveTicketIcon {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

input {
  padding: $SmSize !important;
  &::placeholder {
    font-size: $SmSize;
  }
  border-radius: calc($XlSize + 2px) !important;
  &.py {
    padding-inline: 40px !important;
  }
}
.input-search {
  input {
    padding-inline: 40px !important;
  }
}

.p-multiselect,
.p-select {
  padding: $SmSize !important;
  // padding-inline: 40px !important;
  border-radius: calc($XlSize + 2px) !important;
}

.checkbox-toggle-wrapper {
  padding: $XsSize3 !important;
  // padding-inline: 40px !important;
  border-radius: calc($XlSize + 2px) !important;
}

.input-wrapper {
  border-radius: calc($XlSize + 2px) !important;
}
.mt-6 {
  margin-top: 6px;
}
.mt-10 {
  margin-top: 10px;
}
.p-multiselect.p-inputwrapper-filled {
  padding: 6px !important;
  // padding-inline: 40px !important;
  border-radius: calc($XlSize + 2px) !important;
}

// p-multiselect p-component p-inputwrapper p-multiselect-display-chip input-select w-full
// p-multiselect p-component p-inputwrapper p-multiselect-display-chip p-inputwrapper-filled input-select w-full
