@use "./variables" as *;
//@use "./normalize";

/*<editor-fold desc="utils">*/
@use "./utils/container";
@use "./utils/_button";
@use "./utils/_primary_btn";
@use "./utils/_third_btn";
@use "./utils/_secondary_btn";
//@use "./utils/_explore_btn";
@use "./normalize";

 //@use "./utils/_fonts";
//@use "./utils/input_filter";
//@use "./utils/_section_title";
//@use "./utils/_fonts";
//@use "./utils/input_filter";
//@use "./utils/_section_title";
@use "./utils/danger_btn";
/*</editor-fold>*/

/*<editor-fold desc="layout">*/
@use "./layout/layout_imports";
/*</editor-fold>*/

/*<editor-fold desc="components">*/
@use "./components/drop_menu";
//@use "./components/filter";
@use "./components/search_input";
@use "./components/date_picker";

@use "./components/dialog";
//@use "./components/popover";
//@use "./components/rate";
//@use "./components/package_card";
//@use "./components/filter_search_hotel_sidebar";
@use "./components/checkbox";
//@use "./components/facilities";
//@use "./components/no_hotels";
@use "./components/swiper";
//@use "./components/input_profile";
/*</editor-fold>*/

/*<editor-fold desc="auth">*/
//@use "auth/imports_auth";
/*</editor-fold>*/

/*<editor-fold desc="error">*/
//@use "error/error";
/*</editor-fold>*/

/*<editor-fold desc="error">*/
//@use "breadcrumb/breadcrumb";
/*</editor-fold>*/
/*<editor-fold desc="error">*/
@use "Dialogs/imports";
/*</editor-fold>*/

/*<editor-fold desc="fonts">*/
@use "./fonts";
/*</editor-fold>*/
/*<editor-fold desc="file_upload">*/
@use "./FileUpload/file_upload";
/*</editor-fold>*/

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  > section {
    scroll-snap-align: start;
  }
}

body {
  font-family: var(--font-family), sans-serif;
  // overflow-x: hidden;
}
.p-accordionheader {
  background: transparent !important;
}
.p-accordioncontent-content {
  background: transparent !important;
  color: $Gray-3 !important;
}



.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader,
.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  color: $PrimaryColor !important;

  svg {
    path {
      fill: $PrimaryColor !important;
    }
  }

}

.p-accordionpanel {
  border-color: $Gray-2 !important;
  //@include border($BaseBorderWidth, $Gray-3 , solid);
}

