@use './variables' as *;
@use './login/login';
//@use "./normalize";

/*<editor-fold desc="utils">*/
@use './utils/container';
@use './utils/_button';
@use './utils/_primary_btn';
@use './utils/_third_btn';
@use './utils/_secondary_btn';
@use './utils/input_serach';
@use './utils/data_empty';
@use './utils/popover';
@use './utils/btn_add';
@use './utils/btn_cancel';
@use './utils/breadCrumb';
@use './utils/tabs_selections';
//@use "./utils/_explore_btn";
@use './normalize';
@use './permission';
@use './crop';

@use './equipment/imports_equipment';
@use './observation/imports_observation';

@use './equipment/details/imports_details';

@use './inspection/imports_inspection';

//@use "./utils/_section_title";
//@use "./utils/_fonts";
//@use "./utils/input_filter";
//@use "./utils/_section_title";
@use './utils/danger_btn';
/*</editor-fold>*/

/*<editor-fold desc="layout">*/
@use './layout/layout_imports';
/*</editor-fold>*/

/*<editor-fold desc="components">*/
@use './components/drop_menu';
@use './components/search_input';
@use './components/date_picker';

@use './components/dialog';

@use './components/checkbox';

@use './components/swiper';
/*</editor-fold>*/

/*<editor-fold desc="error">*/
@use 'Dialogs/imports';
/*</editor-fold>*/

/*<editor-fold desc="fonts">*/
@use './fonts';
/*</editor-fold>*/
/*<editor-fold desc="file_upload">*/
@use './FileUpload/file_upload';
/*</editor-fold>*/
/*<editor-fold desc="form">*/
@use 'form/form_imports';
/*</editor-fold>*/
/*<editor-fold desc="custom_select">*/
@use './utils/custom_select';
/*</editor-fold>*/

/*<editor-fold desc="main_table">*/
@use './tables/main_table';
/*</editor-fold>*/
/*<editor-fold desc="list">*/
@use './Lists/lists';
/*</editor-fold>*/

/*<editor-fold desc="pagination">*/
@use './Pagination/pagination';
/*</editor-fold>*/
/*<editor-fold desc="pagination">*/
@use './skeleton/skeleton';
/*</editor-fold>*/
/*<editor-fold desc="SingleInput">*/
@use './utils/single_file_input';
/*</editor-fold>*/
/*<editor-fold desc="Checkbox">*/
@use './Checkbox/checkbox_button';
/*</editor-fold>*/
/*<editor-fold desc="Actions">*/
@use './ActionsButtons/actions_buttons';
/*</editor-fold>*/
/*<editor-fold desc="Items-List">*/
@use './ListItems/items_list';
/*</editor-fold>*/
/*<editor-fold desc="Form_Header">*/
@use './FormHeader/form_header';
/*</editor-fold>*/

/*<editor-fold desc="ProjectDetails">*/
@use './projectDetails/projects_details_imports';
/*</editor-fold>*/
/*<editor-fold desc="ProjectEmployee">*/
@use './ProjectEmplyee/project_employee_imports';
/*</editor-fold>*/
/*<editor-fold desc="projectWidget">*/
@use './ProjectWidgets/project_widgets_imports';
/*</editor-fold>*/
/*<editor-fold desc="TopSlider">*/
@use './TopSlider/top_slider';
/*</editor-fold>*/
/*<editor-fold desc="Switchbtn">*/
@use './utils/switch_input';
/*</editor-fold>*/
/*<editor-fold desc="ProjectZoneForm">*/
@use './ProjectZoneForm/project_zone_form';
/*</editor-fold>*/
/*<editor-fold desc="zonedialog">*/
@use './ProjectZoneForm/add_zone_dialog';
/*</editor-fold>*/
/*<editor-fold desc="ModernTable">*/
@use './ModernTable/table_imports';
/*</editor-fold>*/
/*<editor-fold desc="TreeTable">*/
@use './TreeTable/tree_table';
/*</editor-fold>*/
/*<editor-fold desc="_template_imports">*/
@use './TemplateItem/template_imports';
/*</editor-fold>*/
/*<editor-fold desc="hazard_imports">*/
@use './hazard/hazard_imports';
/*</editor-fold>*/

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  > section {
    scroll-snap-align: start;
  }
}

body {
  font-family: 'Regular', sans-serif;
  color: black;
  overflow-x: hidden;
}

.p-accordionheader {
  background: transparent !important;
}

.p-accordioncontent-content {
  background: transparent !important;
  color: $Gray-3 !important;
}

.p-accordionpanel:not(.p-disabled).p-accordionpanel-active > .p-accordionheader,
.p-accordionpanel:not(.p-accordionpanel-active):not(.p-disabled) > .p-accordionheader:hover {
  color: $PrimaryColor !important;

  svg {
    path {
      fill: $PrimaryColor !important;
    }
  }
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
  background-color: $PrimaryColor !important;
}

.icon-lng-nav {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
}

// for garrery
.p-galleria-indicator-list {
  .p-galleria-indicator {
    button {
      transition: all 0.5s ease-in-out;
    }
  }
}

.p-galleria {
  border: none !important;
  outline: none !important;
}

.p-galleria-indicator-active {
  button {
    background-color: $PrimaryColor !important;
    width: 30px !important;
    height: 8px !important;
    border-radius: 50px !important;
  }
}

