.page-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0000005d;
  transition: 0.3s all linear;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: 9999;
}


.notification-bar {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 800px;
  height: 400px;
  background: white;
  border-radius: 0 0 16px 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  z-index: 9999;
  overflow: hidden;
  touch-action: none;
  display: flex;
  flex-direction: column-reverse;
  z-index: 99999;

}

.notification-bar.dragging {
  transition: none;
}

.notification-bar.expanded {
  top: 0 !important;
}


.grab-area {
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, #f5f5f5, #eaeaea);
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  position: relative;
}

.grab-area::before {
  content: "";
  width: 50px;
  height: 5px;
  border-radius: 3px;
  background: #aaa;
}

.bar-content {
  padding: 20px;
  color: #333;
  font-family: "Inter", sans-serif;
  height: 100%;
}
