@use "../../variables" as *;
@use "../../mixins/flex" as *;


.hotel-information {
  @include flex-column();
  //gap: $XlSize;
  @media screen and (max-width: 768px) {
    @include flex(column, wrap, center, center);
  }

  width: 55%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .hotel-information-hotel-card {
    width: 100%;

    .card-hotel-info {
      padding: 0;

      .card-hotel-info-container {
        border-radius: 0;
      }

    }
  }
}

// hotel-information-header
.hotel-information-header {
  @include flex(row, wrap, center, center);
  margin-top: $XlSize;
  gap: $XsSize;
  background: $TextGray6;
  width: 100%;
  padding: $MdSize $XlSize2;
  border-radius: $XlSize $XlSize 0 0;

  p {
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $MdSize;
    color: $TextColor8;
  }
}

