@use "../../variables" as *;
@use "../../mixins/flex" as *;

.hotel-confirmation-header {
  @include flex(column, nowrap, center, center);
  //background: $BgGray;
  padding: $XlSize $XlSize2;
  gap: $MdSize;

  p {
    text-align: center;
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $XlSize2;
    color: $TextColor8;
  }

  span {
    text-align: center;
    font-size: $XlSize;
    width: 35rem;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    color: $TextGray2;
  }

  .booking-confirmation-number {
    @include flex(row, wrap, center, center);
    color: #3D4C5E;
    font-size: $SmSize;
  }

  position: relative;
  width: 100%;
  &::after {
    content: '';
    position: absolute;
    //top: 0;
    inset: 0;
    background-image: url('~/public/images/successful-booking.gif');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
  }

}
