@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;
.employee-tasks-card {
  background-color: var(--text-on-brand);
  border: 1px solid var(--brand-primary-50);
  padding: $MdSize;
  border-radius: 16px;
  margin-top: 1rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 60%;
    background-image: url('@/assets/images/Ellipse 1941.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @include grid(
    2,
    10px,
    (
      600px: 1,
    )
  );
  .task-details {
    .task-date {
      h6 {
        font-size: $MdSize2;
        font-weight: $BaseFontWeightBold;
        color: var(--second-dark-color);
        font-family: 'bold';
      }
      span {
        font-size: $XsSize;
        font-weight: $BaseFontMediumWeight;
        color: var(--text-soft);
        font-family: 'regular';
      }
    }
    .project-name {
      h6 {
        font-size: $MdSize;
        font-weight: $BaseFontMediumWeight;
        color: var(--second-dark-color);
        font-family: 'regular';
      }
      span {
        font-size: $MdSize;
        font-weight: $BaseFontMediumWeight;
        color: var(--header-page-color);
        font-family: 'regular';
      }
    }
  }
  .info-employee-task {
    border: 1px solid var(--surface-1);
    padding: $XsSize3;
    background-color: var(--text-on-brand);
    margin: 0 0 0 auto;
    border-radius: 8px;
    .back-ground {
      background-color: var(--text-on-brand);
      padding: $XsSize3;
      border-radius: 8px;
      @include flex(row, nowrap, end, center);
      gap: 10px;
      .imge {
        object-fit: cover;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .info {
        h6 {
          font-size: $MdSize;
          font-weight: $BaseFontSemiBoldWeight;
          color: var(--brand-primary-900);
          font-family: 'regular';
        }
        p {
          font-size: $MdSize;
          font-weight: $BaseFontMediumWeight;
          color: var(--subtitle-color);
          font-family: 'regular';
        }
      }
    }
  }
}
.view-all-tasks {
  background-color: color-mix(in srgb, var(--brand-primary-500) 5.1%, transparent);
  color: var(--brand-primary-800);
  padding: $XsSize3;
  border-radius: 8px;
  font-size: $MdSize;
  font-weight: $BaseFontMediumWeight;
  font-family: 'bold';
  width: 100%;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;
  margin: 1rem 0;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
  @include flex(row, nowrap, center, center);
  gap: 10px;
  &:hover {
    background-color: var(--brand-primary-800);
    color: var(--text-on-brand);
    transform: scale(1.02);
    svg {
      path {
        fill: var(--text-on-brand);
      }
    }
  }
}
