@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.employee-profile-box {
  @include flex-row(nowrap, center, center);
  gap: $XsSize2;
  padding: $XsSize2 $MdSize;
  border-radius: calc($XlSize + 2px);
  background-color: #f9f9f9;

  .employee-img {
    img {
      width: calc($XlSize4 + 40px);
      height: calc($XlSize4 + 40px);
      border-radius: $MdSize;
    }
  }
  .all-info {
    @include flex-column(nowrap, start, start);
    flex: 1;
    gap: $MdSize;
    .info-wrapper {
      @include flex-row(wrap, space-between, center);

      width: 100%;
      .employee-info {
        @include flex-column();
        gap: 2px;
        .employee-position {
          font-size: $SmSize;
          color: $PrimaryColor;
          font-weight: $BaseFontSemiBoldWeight;
        }
        .employee-name {
          font-size: $MdSize2;
          font-weight: $BaseFontWeightBold;
        }
      }
    }
    .all-info-row {
      // @include flex-row(wrap, space-between, center);
      @include grid(
        3,
        $MdSize2,
        (
          768px: 1,
        )
      );
      // flex: 1;
      width: 100%;
      .all-info-row-item {
        @include flex-row(nowrap, start, center);
        gap: $BorderRadiusXs;
        .all-info-row-item-label {
          font-size: $SmSize;
          font-weight: $BaseFontMediumWeight;
          color: $SubtitleColor;
        }
        .info-info-row-item-value {
          font-size: $SmSize;
          font-weight: $BaseFontSemiBoldWeight;
          color: #3d4c5e;
        }
      }
    }
  }
}
