@use "../../variables" as *;
@use "../../mixins/flex" as *;
@use "../../mixins/grid" as *;

.available-booking {
    padding: 0 0 $XlSize2 $XlSize2;
    @media screen  and (max-width: 768px) {
        padding: $XlSize2 ;
    }
    border-radius: $XlSize;
    .available-booking-container {
        @include flex-column();
        background-color: $BgWhite;
        padding: $XlSize2;
        border-radius: $XlSize;
        // gap: $XsSize2;
        .available-booking-title {
            font-size: $MdSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: $SecondaryColor;
        }
        // .available-booking-subtitle {
        //     font-size: $SmSize;
        //     font-weight: $BaseFontMediumWeight;
        //     color: $TextGray2;
        // }
        .accordion {
            margin-top: $XsSize2;
            button {
                font-size: $MdSize;
                font-weight: $BaseFontSemiBoldWeight;
                color: $SecondaryColor;
                @include flex-justify(nowrap, center, start);
            }

            .form-promo-code {
                position: relative;
                margin-top: $XsSize2;
                input {
                    padding: $XlSize2;
                    border-radius: $XlSize;
                    border: 1px solid $TextGray6;
                    width: 100%;
                    outline: none;
                    color: $SecondaryColor;
                }
                .btn {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: $XlSize2;
                    background-color: $PrimaryColor;
                    color: $BgWhite;
                    border-radius: $XlSize;
                }
            }
        }
    }
}
