@use "../../variables" as *;
@use "../../mixins/flex" as *;
@use "../../mixins/grid" as *;

.guest-info {
    padding: $XlSize2 0 $XlSize2 $XlSize2;
    @media screen  and (max-width: 768px) {
        padding: $XlSize2 ;
    }

    border-radius: $XlSize;

    .guest-info-container {
        @include flex-column();
        background-color: $BgWhite;
        padding: $XlSize2;
        border-radius: $XlSize;
        // gap: $XsSize2;
        .guest-info-title {
            font-size: $MdSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: $SecondaryColor;
        }
        .guest-info-subtitle {
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            color: $TextGray2;
        }

        .form-guest {
            margin-top: $XlSize3;

            .btn-add {
                @include flex(nowrap, center, end);
                width: 100%;
                gap: $XsSize2;
                span {
                    color: $SecondaryColor;
                    font-size: $SmSize;
                    font-weight: $BaseFontWeightBold;
                    text-transform: capitalize;
                }
            }
            .form-guest-container {
                @include flex-column();
                gap: $MdSize2;
                .form-container {
                    @include flex(row, nowrap, center, start);
                    @media screen and (max-width: 768px) {
                        @include flex(row, wrap, center, start);
                    }
                    width: 100%;
                    gap: $XsSize2;
                    margin-top: $XsSize2;
                    .guest-select-title {
                        width: 25%;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                        font-size: $SmSize;
                        text-transform: capitalize;
                        border: 1px solid $TextGray6;
                        border-radius: $SmSize;
                        padding: 0 $XsSize;

                        .float-select {
                            position: relative;
                            width: 100%;
                            color: $SecondaryColor;
                            font-weight: $BaseFontWeightBold;

                            border: none;
                            .label-select {
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                color: $TextGray3;
                                font-size: $XsSize2;
                                outline: none;
                                pointer-events: none;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                    .guest-input {
                        width: 100%;

                        .input {
                            width: 100%;
                            color: $SecondaryColor;
                            font-weight: $BaseFontWeightBold;
                            border: 1px solid $TextGray6;
                            border-radius: $SmSize;
                            padding: $XsSize $XsSize $XsSize $XsSize;
                            font-size: $XsSize;
                            &:focus ~ .label,
                            &:focus ~ .label,
                            &:not(:placeholder-shown) ~ .label {
                                top: -10px;
                                font-size: 12px; // Adjust based on your variables
                                color: $SecondaryColor;
                                background-color: white;
                                padding: 0 4px;
                                left: 0.8rem;
                                transform: translateY(0);
                            }
                        }

                        .label {
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-50%);
                            color: $TextGray3;
                            font-size: $XsSize;
                            transition: all 0.3s ease;
                            pointer-events: none;
                        }
                    }
                }
            }
            p {
                margin-top: $XsSize2;
                font-size: $XsSize;
                font-weight: $BaseFontMediumWeight;
                color: $TextGray2;
            }
        }
    }
}
