@use "../../variables" as *;
@use "../../mixins/flex" as *;
@use "../../mixins/grid" as *;

.special-request {
    padding: 0 0 $XlSize2 $XlSize2;
    border-radius: $XlSize;
    @media screen  and (max-width: 768px) {
        padding: $XlSize2 ;
    }
    .special-request-container {
        @include flex-column();
        background-color: $BgWhite;
        padding: $XlSize2;
        border-radius: $XlSize;
        // gap: $XsSize2;
        .special-request-title {
            font-size: $MdSize;
            font-weight: $BaseFontSemiBoldWeight;
            color: $SecondaryColor;
        }
        .special-request-subtitle {
            font-size: $SmSize;
            font-weight: $BaseFontMediumWeight;
            color: $TextGray2;
        }

        .special-request-textarea {
            padding: $XsSize2;
            border-radius: $MdSize;
            border: 1px solid $TextGray6;
            height: 150px;
            resize: none;
            font-size: $SmSize;
            color: $SecondaryColor;
            font-weight: $BaseFontWeightBold;
            margin-top: $XlSize2;
        }
    }
}
