@use '../variables' as *;
@use '../mixins/flex' as *;
@use '../mixins/grid' as *;

.investigating-form {
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize2;
  width: 100%;
  .investigating-form-header {
    @include flex-row(nowrap, flex-start, center);
    gap: 4px;

    .title {
      color: var(--brand-primary-800);
      font-size: $XlSize;
      font-weight: $BaseFontWeightBold;
      font-family: 'Bold';
      span {
        color: var(--brand-primary-600);
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.optional {
  color: var(--text-muted);
  font-size: $MdSize;
  font-weight: $BaseFontMediumWeight;
}
.factor-item {
  opacity: 1;
  border-radius: 20px;
  background-color: var(--text-on-brand);
  padding: $XsSize;
  .factot-title {
    font-weight: $BaseFontWeightBold;
    color: var(--text-strong);
    font-style: Bold !important;
  }
  .radio-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @media (max-width: 668px) {
      grid-template-columns: repeat(1, minmax(100px, 1fr)) !important;
    }

    gap: 20px;
  }

  .radio-column {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: 12px;
  }

  .radio-item {
    @include flex-row(nowrap, flex-start, center);
    gap: 8px;

    .radio-label {
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      color: var(--text-soft);
    }
  }
  .p-radiobutton-checked .p-radiobutton-box {
    background-color: $PrimaryColor !important;
  }

  .p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
    background-color: $PrimaryColor !important;
  }
  .p-radiobutton.p-radiobutton-checked + .radio-label {
    color: var(--brand-primary-600) !important;
    font-weight: $BaseFontSemiBoldWeight;
    font-size: $MdSize;
  }
  .sub-radio-group {
    margin-inline-start: 1.3rem;
    @include flex-column(nowrap, flex-start, center);
    gap: 8px;
  }

  .sub-radio-item {
    @include flex-row(nowrap, flex-start, center);
    gap: 8px;
    .sub-radio-label {
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      color: var(--text-soft);
    }
  }
}
.meeting-investigation {
  @include flex-row(nowrap, center, center);
  background: var(--brand-primary-50);
  padding: 1.5rem;
  gap: 10px;
  p {
    font-weight: $BaseFontWeightBold;
    font-size: $MdSize2;
    font-family: 'Bold';
  }
  .meeting-icon {
    width: 32px;
    height: 26px;
  }
}
