@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';
.index-investigating {
  .sidebar-container {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: $XsSize;
  }

  .sidebar-card-header {
    display: flex;
    flex-direction: column;
    gap: $XsSize;
  }

  .sidebar-header {
    @include flex-row(nowrap, space-between, center);
    background-color: #f5f5f5 !important;
  }

  .sidebar-label-item-primary {
    font-weight: $BaseFontWeightBold;
    color: rgba(0, 0, 97, 1);
    font-size: $XlSize;
  }

  .sidebar-img {
    width: 60px;
    height: 60px;
  }

  .sidebar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      position: relative;
      padding-left: 18px;
      margin-bottom: 6px;
      font-size: $MdSize;
      color: rgba(174, 177, 188, 1);
      font-weight: $BaseFontMediumWeight;

      span {
        font-weight: $BaseFontMediumWeight;
        font-size: $MdSize;
        color: rgba(32, 32, 32, 1);
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 6px;
        height: 6px;
        background-color: #000;
        border-radius: 50%;
      }
    }
  }
}
