@import '../variables';
@import '../mixins/flex';
@import '../mixins/grid';

.investigating-form {
  font-family: 'Regular';
  @include flex-column(nowrap, flex-start, flex-start);
  gap: $XsSize2;
  width: 100%;
  .investigating-form-header {
    @include flex-row(nowrap, flex-start, center);
    gap: 4px;

    .title {
      color: #170f49;
      font-size: $XlSize;
      font-weight: $BaseFontWeightBold;
      span {
        color: #1f41bb;
        font-size: $SmSize;
        font-weight: $BaseFontSemiBoldWeight;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.optional {
  color: #c3c6cd;
  font-size: $MdSize;
  font-weight: $BaseFontMediumWeight;
}
.factor-item {
  opacity: 1;
  border-radius: 20px;
  background-color: rgba(249, 249, 249, 1);
  padding: $XsSize;
  .factot-title {
    font-weight: $BaseFontWeightBold;
    color: #000;
    font-style: Bold !important;
  }
  .radio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .radio-column {
    @include flex-column(nowrap, flex-start, flex-start);
    gap: 12px;
  }

  .radio-item {
    @include flex-row(nowrap, flex-start, center);
    gap: 8px;

    .radio-label {
      font-weight: $BaseFontSemiBoldWeight;
      font-size: $MdSize;
      color: rgba(158, 158, 158, 1);
    }
  }
}
